[Light Crowbar]

## Enables configuration of this content's properties.
# Setting type: Boolean
# Default value: false
Enabled = false

## The minimum value for the item. In-game it'll show the value multiplied by 0.4.
# Setting type: Int32
# Default value: 100
MinValue = 100

## The maximum value for the item. In-game it'll show the value multiplied by 0.4.
# Setting type: Int32
# Default value: 150
MaxValue = 150

## The weight for the item.
# Setting type: Single
# Default value: 1.1
Weight = 1.1

## Indicates if the item is two-handed.
# Setting type: Boolean
# Default value: false
TwoHanded = false

## Indicates if the item is conductive.
# Setting type: Boolean
# Default value: true
IsConductive = true

## Add this Item to a Level's randomisation pool based on matching Tag Names. (Minimum: 0, Maximum: 9999)
# Setting type: String
# Default value: 
ItemInjectionSettingsByLevelTags = 

## Add this Item to a Level's randomisation pool based on matching Route Prices. (Minimum: 0, Maximum: 9999)
# Setting type: String
# Default value: 
ItemInjectionSettingsByCurrentRoutePrice = 

## Add this Item to a Level's randomisation pool based on matching Weather Conditions. (Minimum: 0, Maximum: 9999)
# Setting type: String
# Default value: 
ItemInjectionSettingsByCurrentWeather = 

## Add this Item to a Level's randomisation pool based on matching Level Names. (Minimum: 0, Maximum: 9999)
# Setting type: String
# Default value: Thrive:30
ItemInjectionSettingsByPlanetNames = Thrive:30

