[Military Shotgun]

## Enables configuration of this content's properties.
# Setting type: Boolean
# Default value: false
Enabled = false

## The minimum value for the item. In-game it'll show the value multiplied by 0.4.
# Setting type: Int32
# Default value: 125
MinValue = 125

## The maximum value for the item. In-game it'll show the value multiplied by 0.4.
# Setting type: Int32
# Default value: 175
MaxValue = 175

## The weight for the item.
# Setting type: Single
# Default value: 1.24
Weight = 1.24

## Indicates if the item is two-handed.
# Setting type: Boolean
# Default value: false
TwoHanded = false

## Indicates if the item is conductive.
# Setting type: Boolean
# Default value: false
IsConductive = false

## Add this Item to a Level's randomisation pool based on matching Tag Names. (Minimum: 0, Maximum: 9999)
# Setting type: String
# Default value: Armory:1
ItemInjectionSettingsByLevelTags = Armory:1

## Add this Item to a Level's randomisation pool based on matching Route Prices. (Minimum: 0, Maximum: 9999)
# Setting type: String
# Default value: 
ItemInjectionSettingsByCurrentRoutePrice = 

## Add this Item to a Level's randomisation pool based on matching Weather Conditions. (Minimum: 0, Maximum: 9999)
# Setting type: String
# Default value: 
ItemInjectionSettingsByCurrentWeather = 

## Add this Item to a Level's randomisation pool based on matching Level Names. (Minimum: 0, Maximum: 9999)
# Setting type: String
# Default value: 
ItemInjectionSettingsByPlanetNames = 

