## Settings file was created by plugin Spawn Cycle Fixes v1.2.2
## Plugin GUID: butterystancakes.lethalcompany.spawncyclefixes

[Enemies]

## When unplugging the apparatus, any Old Birds that spawn will now add to the power count and number of Old Birds, preventing outside spawns from "overflowing" past the intended maximum values.
## Old Birds will also be blocked from spawning once all the dormant ones on the map have "woken up", preventing an issue where they waste other enemy slots and then immediately despawn.
# Setting type: Boolean
# Default value: true
Limit Old Birds = true

## Mask hornets do not add power level since they spawn in a non-standard way, from killing butlers. Enabling this will fix that.
## In vanilla, mask hornets and butlers have the same power level (of 2), so enabling this will prevent enemies from spawning to replace dead butlers.
# Setting type: Boolean
# Default value: false
Mask Hornets Power = false

## When Cadaver Growths are totally exterminated and become unable to grow for the rest of the day, their power level will be subtracted.
# Setting type: Boolean
# Default value: true
Cadaver Growths Subtract = true

[Miscellaneous]

## (REQUIRES RESTART) Fixes two spawn waves occurring at the start of each day, and also fixes vent timers overlapping future spawn waves which delays them until later in the day.
## With this setting enabled, spawn waves will always occur at 7:39 AM, 9:00 AM, 11:00 AM, 1:00 PM, 3:00 PM, 5:00 PM, 7:00 PM, 9:00 PM, and 11:00 PM.
# Setting type: Boolean
# Default value: true
Consistent Spawn Times = true

