## Settings file was created by plugin Jetpack Fixes v1.6.2
## Plugin GUID: butterystancakes.lethalcompany.jetpackfixes

[Misc]

## When should high speeds (exceeding 50u/s, vanilla's "speed limit") explode the jetpack?
## "Off" will only explode when you crash into something solid.
## "OnlyTooHigh" will explode if you are flying too fast, while you are also *extremely* high above the terrain.
## "Always" will explode any time you are flying too fast. (Most similar to vanilla's behavior)
# Setting type: MidAirExplosions
# Default value: Off
# Acceptable values: OnlyTooHigh, Always, Off
MidAirExplosions = Off

