## Settings file was created by plugin Keep Unlocks v1.0.5
## Plugin GUID: butterystancakes.lethalcompany.keepunlocks

[Cosmetic]

## Retain misc. furniture? (Television, Shower, etc.)
# Setting type: Boolean
# Default value: false
KeepFurniture = true

## Retain player suits? (Green suit, Hazard suit, Pajama suit, Purple Suit, Bee Suit, Bunny Suit)
# Setting type: Boolean
# Default value: true
KeepSuits = true

[Gameplay]

## Retain ship upgrades? (Loud horn, Signal translator, Teleporter, Inverse Teleporter)
# Setting type: Boolean
# Default value: false
KeepUpgrades = false

[Miscellaneous]

## Automatically place furniture into storage.
# Setting type: Boolean
# Default value: true
AutoStore = true

