## Settings file was created by plugin Enemy Sound Fixes v1.9.9
## Plugin GUID: butterystancakes.lethalcompany.enemysoundfixes

[Misc]

## Mimic footstep volume and distance are altered to sound more accurate to actual players.
# Setting type: Boolean
# Default value: true
BetterMimicSteps = true

## Thumpers no longer play thunder sound effects from their voice when they stop chasing after players.
# Setting type: Boolean
# Default value: true
ThumperNoThunder = true

## Makes eyeless dogs play their stun sound effect on death, rather than falling silently.
# Setting type: Boolean
# Default value: true
ShootTheDog = true

## What audio sources should be muted on the Cruiser when in orbit. (Engine sounds, the horn, the radio, etc.)
# Setting type: CruiserMute
# Default value: NotRadio
# Acceptable values: NotRadio, All, Nothing
SpaceMutesCruiser = NotRadio

## Fixes backwards open/close sounds on breaker boxes and storage locker doors. Fixes Rend and Adamance cabin doors using steel door sounds.
# Setting type: Boolean
# Default value: true
FixDoorSounds = true

## Prevents the morning/afternoon ambience music from playing during Eclipsed weather, which has its own ambient track.
# Setting type: Boolean
# Default value: true
EclipsesBlockMusic = true

## Controls how much Unity's simulated "Doppler effect" applies to music sources like the dropship, boombox, etc. (This is what causes pitch distortion when moving towards/away from the source of the music)
## 1 is the same as vanilla. 0 will disable it completely (so music always plays at the correct pitch)
# Setting type: Single
# Default value: 0.333
MusicDopplerLevel = 0.333

## Restores a cut sound effect of idle chatter when walkie-talkies are in use. Only audible when standing near a walkie-talkie that is turned on, someone is transmitting their voice, and you do not have a walkie-talkie turned on in your inventory. (This does *not* actually repeat what is being spoken over the line - it's just SFX)
# Setting type: Boolean
# Default value: true
WalkieHearsTalkies = true

