## Settings file was created by plugin Chameleon v2.4.2
## Plugin GUID: butterystancakes.lethalcompany.chameleon

[Exterior]

## Changes the front doors to match the manor entrance's doors when one of these interiors generates. Works for ONLY vanilla moons! Leave empty to disable.
## Upon hosting a lobby, the full list of interior names will be printed in the debug log, which you can use as a guide.
# Setting type: String
# Default value: Level2Flow,sdmFoyer,sdmBasement,SpookyManorFlow,AquaticDungeonFlow,MuseumInteriorFlow,CabinDungeonFlow,v62Mansion-Level2Flow,LanternManor,BellevilleApp,GoldenHotel,CrimsonKeep
FancyEntrances = Level2Flow,sdmFoyer,sdmBasement,SpookyManorFlow,AquaticDungeonFlow,MuseumInteriorFlow,CabinDungeonFlow,v62Mansion-Level2Flow

## March is constantly rainy, as described in its terminal page. This is purely visual and does not affect quicksand generation.
# Setting type: Boolean
# Default value: false
RainyMarch = false

## Allows for storms on Gordion, as described in its terminal page. This is purely visual and lightning does not strike at The Company.
# Setting type: GordionStorms
# Default value: Chance
# Acceptable values: Chance, Always, Never
StormyGordion = Chance

## When the surface is snowy, Forest Keepers will blend in a little better with the environment. They will also appear more charred after being burnt to death.
## If you are experiencing issues with giants and have other skin mods installed, you should probably disable this setting.
# Setting type: Boolean
# Default value: true
GiantSkins = true

## On moons which generate snowy vain shrouds, the kidnapper fox will also sport a winter white coat.
# Setting type: Boolean
# Default value: true
ArcticFox = true

[Interior]

## Dynamically adjust the color of the light behind the entrance doors depending on where you land, the current weather, and the current time of day.
# Setting type: Boolean
# Default value: true
DoorLightColors = true

## When the apparatus is unplugged, the light on the breaker box will turn off to indicate it is inactive.
# Setting type: Boolean
# Default value: true
PowerOffBreakerBox = true

## Fixes the glass on the steel doors in factories (and some custom interiors) to show on both sides. Also fixes doorknobs looking incorrect on one side.
# Setting type: Boolean
# Default value: true
FixDoorMeshes = true

## On moons where a blizzard or rainstorm is present, you will be able to hear it faintly while inside the building. Set volume from 0 (silent) to 1 (max).
# Setting type: Single
# Default value: 0.4
# Acceptable value range: From 0 to 1
WeatherAmbience = 0.4

[Interior.Manor]

## When the breaker box is turned off, the "fake window" rooms will also turn off.
# Setting type: Boolean
# Default value: true
PowerOffWindows = true

## When windows turn off, they will be solid black, instead of darkening the image they normally display.
# Setting type: Boolean
# Default value: false
BlackoutWindows = false

## A list of moons for which to assign "Pasture" windows, with their respective weights.
## Moon names are not case-sensitive, and can be left incomplete (ex. "as" will map to both Assurance and Asteroid-13.) "ALL" will add that weight to every moon's pool.
## Upon hosting a lobby, the full list of moon names will be printed in the debug log, which you can use as a guide.
# Setting type: String
# Default value: Vow:100,March:100,Adamance:100,Artifice:100
PastureWindowsList = Vow:100,March:100,Adamance:100,Artifice:100

## A list of moons for which to assign "Canyon" windows, with their respective weights. Leave empty to disable.
## Moon names are not case-sensitive, and can be left incomplete (ex. "as" will map to both Assurance and Asteroid-13.) "ALL" will add that weight to every moon's pool.
# Setting type: String
# Default value: Experimentation:100,Assurance:100,Offense:100,Titan:100
CanyonWindowsList = Experimentation:100,Assurance:100,Offense:100,Titan:100

## A list of moons for which to assign "Snowy" windows, with their respective weights. Leave empty to disable.
## Moon names are not case-sensitive, and can be left incomplete (ex. "as" will map to both Assurance and Asteroid-13.) "ALL" will add that weight to every moon's pool.
# Setting type: String
# Default value: Rend:100,Dine:100
SnowyWindowsList = Rend:100,Dine:100

## A list of moons for which to assign "Flowery" windows, with their respective weights. Leave empty to disable.
## Moon names are not case-sensitive, and can be left incomplete (ex. "as" will map to both Assurance and Asteroid-13.) "ALL" will add that weight to every moon's pool.
# Setting type: String
# Default value: Embrion:100
FloweryWindowsList = Embrion:100

## A list of moons for which to assign "Beach" windows, with their respective weights. Leave empty to disable.
## Moon names are not case-sensitive, and can be left incomplete (ex. "as" will map to both Assurance and Asteroid-13.) "ALL" will add that weight to every moon's pool.
# Setting type: String
# Default value: 
BeachWindowsList = 

## A list of moons for which to assign "Hot Springs" windows, with their respective weights. Leave empty to disable.
## Moon names are not case-sensitive, and can be left incomplete (ex. "as" will map to both Assurance and Asteroid-13.) "ALL" will add that weight to every moon's pool.
# Setting type: String
# Default value: 
HotSpringsWindowsList = 

## A list of moons for which to assign "Broken Screen" windows, with their respective weights. Leave empty to disable.
## Moon names are not case-sensitive, and can be left incomplete (ex. "as" will map to both Assurance and Asteroid-13.) "ALL" will add that weight to every moon's pool.
# Setting type: String
# Default value: 
BrokenScreenWindowsList = 

[Interior.Mineshaft]

## A list of moons for which to assign "Vanilla" caves, with their respective weights.
## Moon names are not case-sensitive, and can be left incomplete (ex. "as" will map to both Assurance and Asteroid-13.) "ALL" will add that weight to every moon's pool.
## Upon hosting a lobby, the full list of moon names will be printed in the debug log, which you can use as a guide.
# Setting type: String
# Default value: Vow:100,March:100,Adamance:100,Artifice:100
VanillaCavesList = 

## A list of moons for which to assign "Mesa" caves, with their respective weights. Leave empty to disable.
## Moon names are not case-sensitive, and can be left incomplete (ex. "as" will map to both Assurance and Asteroid-13.) "ALL" will add that weight to every moon's pool.
# Setting type: String
# Default value: Experimentation:100
MesaCavesList = Experimentation:100

## A list of moons for which to assign "Desert" caves, with their respective weights. Leave empty to disable.
## Moon names are not case-sensitive, and can be left incomplete (ex. "as" will map to both Assurance and Asteroid-13.) "ALL" will add that weight to every moon's pool.
# Setting type: String
# Default value: Assurance:100,Offense:100
DesertCavesList = Assurance:100,Offense:100,Experimentation:100

## A list of moons for which to assign "Ice" caves, with their respective weights. Leave empty to disable.
## Moon names are not case-sensitive, and can be left incomplete (ex. "as" will map to both Assurance and Asteroid-13.) "ALL" will add that weight to every moon's pool.
# Setting type: String
# Default value: Rend:100,Dine:100,Titan:100
IceCavesList = Rend:100,Dine:100,Titan:100

## A list of moons for which to assign "Amethyst" caves, with their respective weights. Leave empty to disable.
## Moon names are not case-sensitive, and can be left incomplete (ex. "as" will map to both Assurance and Asteroid-13.) "ALL" will add that weight to every moon's pool.
# Setting type: String
# Default value: Embrion:100
AmethystCavesList = Embrion:100,Vow:100,March:100

## A list of moons for which to assign "Gravel" caves, with their respective weights. Leave empty to disable.
## Moon names are not case-sensitive, and can be left incomplete (ex. "as" will map to both Assurance and Asteroid-13.) "ALL" will add that weight to every moon's pool.
# Setting type: String
# Default value: 
GravelCavesList = Adamance:100,Artifice:100,March:100

## A list of moons for which to assign "Salt" caves, with their respective weights. Leave empty to disable.
## Moon names are not case-sensitive, and can be left incomplete (ex. "as" will map to both Assurance and Asteroid-13.) "ALL" will add that weight to every moon's pool.
# Setting type: String
# Default value: 
SaltCavesList = Vow:100,March:100

## A list of moons for which to assign "Slate" caves, with their respective weights. Leave empty to disable.
## Moon names are not case-sensitive, and can be left incomplete (ex. "as" will map to both Assurance and Asteroid-13.) "ALL" will add that weight to every moon's pool.
# Setting type: String
# Default value: 
SlateCavesList = Vow:100,March:100

## Automatically enable ice (or salt, without Buttery Fixes) caverns on modded levels that are snowy.
## If you have Artifice Blizzard installed, this will also change the caverns specifically only when the blizzard is active.
# Setting type: Boolean
# Default value: false
AutoAdaptSnow = false

## All variants of the cave use vanilla's footstep sounds and effects. This is basically identical to the behavior of the mod if you don't have Buttery Fixes installed.
# Setting type: Boolean
# Default value: false
DontChangeCaveSteps = false

## Cadavers will appear with a unique frostbitten appearance in ice caverns.
# Setting type: Boolean
# Default value: true
SnowyCadavers = true

[Rendering]

## The currently orbited planet is visible on the ship's external security camera while in space, as it used to be in v38.
## You should disable this if you encounter lighting issues on the ship.
# Setting type: Boolean
# Default value: false
PlanetPreview = false

## Light passes and spreads through the foliage for nicer visuals. Performance impact is negligible.
# Setting type: Boolean
# Default value: true
FancyFoliage = true

## Controls the overall quality of the fog. Be aware that using anything other than "Default" will incur a performance penalty.
# Setting type: FogQuality
# Default value: Default
# Acceptable values: Default, Medium, High
FogQuality = Default

## Reduces the noise/"graininess" visible in fog, and improves the definition of light shapes. This will improve visuals without hitting performance as much as the FogQuality setting, but note that this will cause some strange artifacts, like flashlights leaving "trails" behind the beam.
# Setting type: Boolean
# Default value: false
FogReprojection = false

## Fixes Titan's global volume erroneously using the default profile instead of the snowy moon profile. This mainly fixes the sky being too brightly visible.
# Setting type: Boolean
# Default value: true
FixTitanVolume = true

## "Fixes" Artifice's global volume, which has the exact opposite issue of Titan. This is more of a subjective change, but makes Artifice look more vibrant.
# Setting type: Boolean
# Default value: true
FixArtificeVolume = true

## Fixes several missing faces on ship objects (helmet, tubing, generator)
# Setting type: Boolean
# Default value: true
FixShipMeshes = true

