## Settings file was created by plugin Buttery Fixes v1.17.8
## Plugin GUID: butterystancakes.lethalcompany.butteryfixes

[Compatibility]

## Fixes stamina being wasted if you hold the sprint button on ladders. This will prevent other mods (Better Ladders, Fast Climbing, Better Stamina, General Improvements, etc.) from allowing ladder sprint as a feature.
# Setting type: Boolean
# Default value: true
PatchLadders = false

## Bodies will automatically collect themselves when teleported to the ship, or when players die inside of the ship.
# Setting type: Boolean
# Default value: true
BodiesCollectSelf = true

[Extra]

## Allows the "scan" command on the terminal to count the value of items on your ship while parked at Gordion. Butlers' knives will be visible on the map and "scan" command before they are killed. When infected by Cadavers, you will be able to see a red dot when spectating yourself on the ship's radar, just like other players.
# Setting type: Boolean
# Default value: true
ScanImprovements = true

## The camera will be frozen when you use the terminal, and typing should be more immediately responsive.
## This will also lock the camera when charging items, pulling the lever, or sitting in the sofa chair.
# Setting type: Boolean
# Default value: false
LockInTerminal = true

## Decorations (suits, furniture, etc.) you have already purchased will be filtered out of the shop's list on the terminal, potentially allowing you to see the unused "[No items available]" text.
## (Also fixes the missing bullet points.)
# Setting type: Boolean
# Default value: true
FilterDecor = true

## You can type "Gordion" into the terminal (in place of "company") when using the route/info commands.
# Setting type: Boolean
# Default value: false
TypeGordion = false

## Changes the cooldown on some items and interactable furniture to prevent sounds overlapping in strange ways.
# Setting type: Boolean
# Default value: true
AdjustCooldowns = true

## When a player's corpse is completely destroyed (eaten by a Forest Keeper, suffocated by quicksand, etc.) the radar will display the "No signal!" screen instead of spectating the location where they died.
# Setting type: Boolean
# Default value: false
NoBodyNoSignal = true

## Renames the "Golden cup" to "Golden goblet"
# Setting type: Boolean
# Default value: false
TheGoldenGoblet = true

## When a player dies to any sort of explosion, their corpse will appear burnt, much like Cruiser explosions. (This also applies to electrocution from the electric chair.) "PlayermodelPatches" is *required* for this to work!
# Setting type: Boolean
# Default value: true
CharredBodies = true

[Gameplay]

## (Host only) Makes some metallic items that are non-conductive in vanilla actually conductive. This fix applies sensibly to the existing items, but you can disable it if you are used to vanilla's properties.
# Setting type: Boolean
# Default value: true
MakeConductive = true

## (Host only) Enabling this makes enemies hear players jumping and landing on the floor. This fixes the exploit where you can silently move past dogs with sprinting speed by spamming the jump button.
# Setting type: Boolean
# Default value: true
FixJumpCheese = true

## (Host only) Fixes individual bee hives not having separate prices from one another. (In vanilla, all hives fall into two price classes depending on distance from ship) This also fixes sapsucker eggs having inconsistent prices on identical seeds.
# Setting type: Boolean
# Default value: true
FixSurfacePrices = true

[Visual]

## Restores film grain effects from pre-release versions of the game. WARNING: Be aware that this might cause white screens on certain hardware.
# Setting type: FilmGrains
# Default value: None
# Acceptable values: MenusOnly, Full, None
RestoreFilmGrain = None

## Actually show the apparatus' value on the scanner instead of "???" (in vanilla, it is always $80)
# Setting type: Boolean
# Default value: false
ShowApparatusValue = true

## Fixes some issues with dead bodies not displaying badges, using the wrong suit, not having attachments (bee and bunny), etc.
## If you use ModelReplacementAPI I would strongly suggest disabling this if you run into issues!
# Setting type: Boolean
# Default value: true
PlayermodelPatches = true

