## Settings file was created by plugin ScrapValueHUD v1.0.0
## Plugin GUID: com.elitemastereric.scrapvaluehud

[Misc]

## Correct the rotation of the slot icon frames.
# Setting type: Boolean
# Default value: true
Fix Rotation = true

[Scrap Value]

## The corner of the slot at which the label is anchored.
# Setting type: LabelAnchor
# Default value: BottomRight
# Acceptable values: TopLeft, TopRight, BottomLeft, BottomRight
Anchor = BottomRight

## Font size of the scrap value label.
# Setting type: Int32
# Default value: 8
# Acceptable value range: From 1 to 72
Font Size = 8

## Distance from the left or right side of the slot to the label, depending on the anchor.
# Setting type: Single
# Default value: 4
# Acceptable value range: From -64 to 64
Horizontal Padding = 4

## Distance from the top or bottom of the slot to the label, depending on the anchor.
# Setting type: Single
# Default value: 2
# Acceptable value range: From -64 to 64
Vertical Padding = 2

