## Settings file was created by plugin Interactive Store v1.0.0
## Plugin GUID: com.github.WhiteSpike.InteractiveStore

[Initialization]

## List of commands separated by a comma (') to access the interactive item store
# Setting type: String
# Default value: istore
Command Prompts for Item Store = istore

## Wether the letter case of the command prompts should be relevant or not to bring up the application
# Setting type: Boolean
# Default value: false
Item Store Prompt Case Sensitivity = false

## List of commands separated by a comma (') to access the interactive decoration/upgrade store
# Setting type: String
# Default value: idecor
Command Prompts for Decoration/Ship Upgrade Store = idecor

## Wether the letter case of the command prompts should be relevant or not to bring up the application
# Setting type: Boolean
# Default value: false
Decoration Store Prompt Case Sensitivity = false

## List of commands separated by a comma (') to access the interactive vehicle store
# Setting type: String
# Default value: icar
Command Prompts for Vehicle Store = icar

