## Settings file was created by plugin DawnLib v0.9.25
## Plugin GUID: com.github.teamxiaolan.dawnlib

[Achievements]

## Disable the Achievements Button from showing up in the main menu
# Setting type: Boolean
# Default value: false
Disable Achievements Button = false

[Compatibility]

## Enable compatibility with vanilla
# Setting type: Boolean
# Default value: false
Vanilla Compatibility = false

## Patches LethalConfig to enable raw editing of strings for unknown types.
## Current Targeted Version: 1.4.6
# Setting type: CompatibilityBool
# Default value: IfVersionMatches
# Acceptable values: Never, Always, IfVersionMatches, IfMajorVersionMatches
Extend LethalConfig Support = IfVersionMatches

## Allow LLL to override the vanilla status of unlockables
# Setting type: Boolean
# Default value: false
Allow LLL to Override Vanilla Moon Locked/Hidden Status = false

[Dawn Save System]

## Disable the Dawn Save System for item saving
# Setting type: Boolean
# Default value: false
Item Saving = false

## Disable the Dawn Save System for unlockable saving
# Setting type: Boolean
# Default value: false
Unlockable Saving = false

[Exports]

## Export a markdown file listing all tags?
# Setting type: Boolean
# Default value: false
Tag Info Export = false

[InternalDebugging]

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
ReplaceThis = false

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
Configs = false

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
EntityReplacements = false

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
Sounds = false

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
Weathers = false

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
Enemies = false

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
Moons = false

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
Items = false

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
MapObjects = false

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
Unlockables = false

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
AssetLoading = false

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
Weights = false

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
Achievements = false

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
Dusk = false

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
Progressive = false

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
ExtendedTOML = false

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
LethalConfig = false

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
Pathfinding = false

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
Tags = false

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
Dungeons = false

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
Patching = false

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
PersistentDataContainer = false

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
SceneManager = false

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
SaveManager = false

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
NamespacedKeys = false

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
StoryLogs = false

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
Terminal = false

[Terminal]

## Dawnlib's terminal keyword resolution sytem to better handle conflicting keywords.
# Setting type: Boolean
# Default value: true
Keyword Resolution = true

## When Keyword Resolution is enabled, how many characters must match for a keyword to be considered a result for a given input in the terminal.
# Setting type: Int32
# Default value: 3
# Acceptable value range: From 0 to 5
Keyword Specificity = 3

