## Settings file was created by plugin SpiderPositionFix v1.6.4
## Plugin GUID: fandovec03.SpiderPositionFix

[Debug]

## Enable debug logs
# Setting type: Boolean
# Default value: false
Debug logs = false

[Settings]

## Apply the changes made to the spider agent areaMask. This will affect the pathfinding over offMeshLinks
# Setting type: Boolean
# Default value: true
Apply changes to agent areaMask = true

## Should this mod modify the agent radius?
# Setting type: Boolean
# Default value: false
Modify agent radius = false

## [Modify agent radius toggle must be on] 
##  Vanilla: 2 
## 
##  Set pathfinding agent's collision avoidance radius.
# Setting type: Single
# Default value: 2
Pathfinding agent radius = 2

