## Settings file was created by plugin abandonedcompanyassets v0.17.2
## Plugin GUID: HQ_Team.abandonedcompanyassets

[Abandoned Flashlight Options]

## Whether Abandoned Flashlight is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for Abandoned Flashlight.
# Setting type: Boolean
# Default value: false
Abandoned Flashlight | Allow Editing Config = false

## Preset moon weights for Abandoned Flashlight.
# Setting type: String
# Default value: lethal_company:all=+7
Abandoned Flashlight | Preset Moon Weights = lethal_company:all=+7

## Preset interior weights for Abandoned Flashlight.
# Setting type: String
# Default value: lethal_company:leveloneflow=*1.33,lethal_company:levelthreeflow=*1.33
Abandoned Flashlight | Preset Interior Weights = lethal_company:leveloneflow=*1.33,lethal_company:levelthreeflow=*1.33

## Preset weather weights for Abandoned Flashlight.
# Setting type: String
# Default value: weather_registry:blackout=*1.5
Abandoned Flashlight | Preset Weather Weights = weather_registry:blackout=*1.5

## Preset route weights for Abandoned Flashlight.
# Setting type: String
# Default value: 
Abandoned Flashlight | Preset Route Weights = 

## Whether Abandoned Flashlight is a scrap item.
# Setting type: Boolean
# Default value: true
Abandoned Flashlight | Is Scrap = true

## How much Abandoned Flashlight is worth when spawning.
# Setting type: BoundedRange
# Default value: 4,16
Abandoned Flashlight | Value = 4,16

[Abandoned ProFlashlight Options]

## Whether Abandoned ProFlashlight is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for Abandoned Pro-Flashlight.
# Setting type: Boolean
# Default value: false
Abandoned Pro-Flashlight | Allow Editing Config = false

## Preset moon weights for Abandoned Pro-Flashlight.
# Setting type: String
# Default value: lethal_company:all=+2,lethal_level_loader:wasteland=+2,lethal_company:march=+4,lethal_company:adamance=+4,lethal_company:offense=+4,lethal_company:rend=+4
Abandoned Pro-Flashlight | Preset Moon Weights = lethal_company:all=+2,lethal_level_loader:wasteland=+2,lethal_company:march=+4,lethal_company:adamance=+4,lethal_company:offense=+4,lethal_company:rend=+4

## Preset interior weights for Abandoned Pro-Flashlight.
# Setting type: String
# Default value: lethal_company:leveloneflow=*1.1,lethal_company:leveltwoflow=*0.7,lethal_company:levelthreeflow=*1.1
Abandoned Pro-Flashlight | Preset Interior Weights = lethal_company:leveloneflow=*1.1,lethal_company:leveltwoflow=*0.7,lethal_company:levelthreeflow=*1.1

## Preset weather weights for Abandoned Pro-Flashlight.
# Setting type: String
# Default value: weather_registry:blackout=*1.2
Abandoned Pro-Flashlight | Preset Weather Weights = weather_registry:blackout=*1.2

## Preset route weights for Abandoned Pro-Flashlight.
# Setting type: String
# Default value: 
Abandoned Pro-Flashlight | Preset Route Weights = 

## Whether Abandoned Pro-Flashlight is a scrap item.
# Setting type: Boolean
# Default value: true
Abandoned Pro-Flashlight | Is Scrap = true

## How much Abandoned Pro-Flashlight is worth when spawning.
# Setting type: BoundedRange
# Default value: 8,12
Abandoned Pro-Flashlight | Value = 8,12

[Abandoned TPZ Options]

## Whether Abandoned TPZ is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for Abandoned TZP-Inhalant.
# Setting type: Boolean
# Default value: false
Abandoned TZP-Inhalant | Allow Editing Config = false

## Preset moon weights for Abandoned TZP-Inhalant.
# Setting type: String
# Default value: lethal_company:all=+4,lethal_company:experimentation=+6,lethal_company:march=+7,lethal_company:vow=+6,lethal_company:assurance=+6,lethal_company:assurance=+6
Abandoned TZP-Inhalant | Preset Moon Weights = lethal_company:all=+4,lethal_company:experimentation=+6,lethal_company:march=+7,lethal_company:vow=+6,lethal_company:assurance=+6,lethal_company:assurance=+6

## Preset interior weights for Abandoned TZP-Inhalant.
# Setting type: String
# Default value: 
Abandoned TZP-Inhalant | Preset Interior Weights = 

## Preset weather weights for Abandoned TZP-Inhalant.
# Setting type: String
# Default value: 
Abandoned TZP-Inhalant | Preset Weather Weights = 

## Preset route weights for Abandoned TZP-Inhalant.
# Setting type: String
# Default value: 
Abandoned TZP-Inhalant | Preset Route Weights = 

## Whether Abandoned TZP-Inhalant is a scrap item.
# Setting type: Boolean
# Default value: true
Abandoned TZP-Inhalant | Is Scrap = true

## How much Abandoned TZP-Inhalant is worth when spawning.
# Setting type: BoundedRange
# Default value: 16,32
Abandoned TZP-Inhalant | Value = 16,32

[Abandoned Walkie-talkie Options]

## Whether Abandoned Walkie-talkie is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for Abandoned Walkie-talkie.
# Setting type: Boolean
# Default value: false
Abandoned Walkie-talkie | Allow Editing Config = false

## Preset moon weights for Abandoned Walkie-talkie.
# Setting type: String
# Default value: lethal_company:all=+4,lethal_level_loader:military=+2,lethal_level_loader:company=+2,lethal_company:experimentation=+4,lethal_company:assurance=+5,lethal_company:vow=+6
Abandoned Walkie-talkie | Preset Moon Weights = lethal_company:all=+4,lethal_level_loader:military=+2,lethal_level_loader:company=+2,lethal_company:experimentation=+4,lethal_company:assurance=+5,lethal_company:vow=+6

## Preset interior weights for Abandoned Walkie-talkie.
# Setting type: String
# Default value: lethal_company:leveloneflow=*1.2,lethal_company:leveltwoflow=*0.2,lethal_company:levelthreeflow=*1.2
Abandoned Walkie-talkie | Preset Interior Weights = lethal_company:leveloneflow=*1.2,lethal_company:leveltwoflow=*0.2,lethal_company:levelthreeflow=*1.2

## Preset weather weights for Abandoned Walkie-talkie.
# Setting type: String
# Default value: 
Abandoned Walkie-talkie | Preset Weather Weights = 

## Preset route weights for Abandoned Walkie-talkie.
# Setting type: String
# Default value: 
Abandoned Walkie-talkie | Preset Route Weights = 

## Whether Abandoned Walkie-talkie is a scrap item.
# Setting type: Boolean
# Default value: true
Abandoned Walkie-talkie | Is Scrap = true

## How much Abandoned Walkie-talkie is worth when spawning.
# Setting type: BoundedRange
# Default value: 4,16
Abandoned Walkie-talkie | Value = 4,16

[Antique Candle Options]

## Whether Antique Candle is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for Antique Candle.
# Setting type: Boolean
# Default value: false
Antique Candle | Allow Editing Config = false

## Preset moon weights for Antique Candle.
# Setting type: String
# Default value: lethal_company:all=+2,lethal_level_loader:valley=+4,lethal_company:rend=+3,lethal_company:experimentation=-4,lethal_company:titan=+3,lethal_company:dine=+3
Antique Candle | Preset Moon Weights = lethal_company:all=+2,lethal_level_loader:valley=+4,lethal_company:rend=+3,lethal_company:experimentation=-4,lethal_company:titan=+3,lethal_company:dine=+3

## Preset interior weights for Antique Candle.
# Setting type: String
# Default value: lethal_company:leveloneflow=*0.5,lethal_company:leveltwoflow=*1.2,lethal_company:levelthreeflow=*0.5
Antique Candle | Preset Interior Weights = lethal_company:leveloneflow=*0.5,lethal_company:leveltwoflow=*1.2,lethal_company:levelthreeflow=*0.5

## Preset weather weights for Antique Candle.
# Setting type: String
# Default value: lethal_company:rainy=*1.2,lethal_company:stormy=*1.2,lethal_company:flooded=*1.2
Antique Candle | Preset Weather Weights = lethal_company:rainy=*1.2,lethal_company:stormy=*1.2,lethal_company:flooded=*1.2

## Preset route weights for Antique Candle.
# Setting type: String
# Default value: 
Antique Candle | Preset Route Weights = 

## Whether Antique Candle is a scrap item.
# Setting type: Boolean
# Default value: true
Antique Candle | Is Scrap = true

## How much Antique Candle is worth when spawning.
# Setting type: BoundedRange
# Default value: 8,16
Antique Candle | Value = 8,16

## Whether Antique Candle is a shop item.
# Setting type: Boolean
# Default value: false
Antique Candle | Is Shop Item = false

[Bullet Lighter Options]

## Whether Bullet Lighter is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for Bullet Lighter.
# Setting type: Boolean
# Default value: false
Bullet Lighter | Allow Editing Config = false

## Preset moon weights for Bullet Lighter.
# Setting type: String
# Default value: lethal_company:all=+3,lethal_level_loader:military=+2,lethal_company:offense=*1.15,lethal_company:rend=*1.25,lethal_company:dine=*1.25,lethal_company:titan=*1.1
Bullet Lighter | Preset Moon Weights = lethal_company:all=+3,lethal_level_loader:military=+2,lethal_company:offense=*1.15,lethal_company:rend=*1.25,lethal_company:dine=*1.25,lethal_company:titan=*1.1

## Preset interior weights for Bullet Lighter.
# Setting type: String
# Default value: lethal_company:leveloneflow=*0.6,lethal_company:levelthreeflow=*1.3,lethal_company:leveltwoflow=*1.1
Bullet Lighter | Preset Interior Weights = lethal_company:leveloneflow=*0.6,lethal_company:levelthreeflow=*1.3,lethal_company:leveltwoflow=*1.1

## Preset weather weights for Bullet Lighter.
# Setting type: String
# Default value: 
Bullet Lighter | Preset Weather Weights = 

## Preset route weights for Bullet Lighter.
# Setting type: String
# Default value: 
Bullet Lighter | Preset Route Weights = 

## Whether Bullet Lighter is a scrap item.
# Setting type: Boolean
# Default value: true
Bullet Lighter | Is Scrap = true

## How much Bullet Lighter is worth when spawning.
# Setting type: BoundedRange
# Default value: 60,80
Bullet Lighter | Value = 60,80

[Emergency Flare Options]

## Whether Emergency Flare is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for Emergency Flare.
# Setting type: Boolean
# Default value: false
Emergency Flare | Allow Editing Config = false

## Preset moon weights for Emergency Flare.
# Setting type: String
# Default value: lethal_company:all=+3
Emergency Flare | Preset Moon Weights = lethal_company:all=+3

## Preset interior weights for Emergency Flare.
# Setting type: String
# Default value: 
Emergency Flare | Preset Interior Weights = 

## Preset weather weights for Emergency Flare.
# Setting type: String
# Default value: 
Emergency Flare | Preset Weather Weights = 

## Preset route weights for Emergency Flare.
# Setting type: String
# Default value: 
Emergency Flare | Preset Route Weights = 

## Whether Emergency Flare is a scrap item.
# Setting type: Boolean
# Default value: false
Emergency Flare | Is Scrap = false

## Whether Emergency Flare is a shop item.
# Setting type: Boolean
# Default value: true
Emergency Flare | Is Shop Item = true

## Cost for Emergency Flare in the shop.
# Setting type: Int32
# Default value: 40
Emergency Flare | Cost = 40

[Flip Lighter Options]

## Whether Flip Lighter is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for Flip Lighter.
# Setting type: Boolean
# Default value: false
Flip Lighter | Allow Editing Config = false

## Preset moon weights for Flip Lighter.
# Setting type: String
# Default value: lethal_company:all=+3,lethal_level_loader:wasteland=+2,lethal_company:rend=-3,lethal_company:titan=+4
Flip Lighter | Preset Moon Weights = lethal_company:all=+3,lethal_level_loader:wasteland=+2,lethal_company:rend=-3,lethal_company:titan=+4

## Preset interior weights for Flip Lighter.
# Setting type: String
# Default value: lethal_company:leveloneflow=*1.35
Flip Lighter | Preset Interior Weights = lethal_company:leveloneflow=*1.35

## Preset weather weights for Flip Lighter.
# Setting type: String
# Default value: 
Flip Lighter | Preset Weather Weights = 

## Preset route weights for Flip Lighter.
# Setting type: String
# Default value: 
Flip Lighter | Preset Route Weights = 

## Whether Flip Lighter is a scrap item.
# Setting type: Boolean
# Default value: true
Flip Lighter | Is Scrap = true

## How much Flip Lighter is worth when spawning.
# Setting type: BoundedRange
# Default value: 32,56
Flip Lighter | Value = 32,56

[Glowstick Pile Options]

## Whether Glowstick Pile is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for Pile of Glowsticks.
# Setting type: Boolean
# Default value: false
Pile of Glowsticks | Allow Editing Config = false

## Preset moon weights for Pile of Glowsticks.
# Setting type: String
# Default value: lethal_company:all=+3
Pile of Glowsticks | Preset Moon Weights = lethal_company:all=+3

## Preset interior weights for Pile of Glowsticks.
# Setting type: String
# Default value: 
Pile of Glowsticks | Preset Interior Weights = 

## Preset weather weights for Pile of Glowsticks.
# Setting type: String
# Default value: 
Pile of Glowsticks | Preset Weather Weights = 

## Preset route weights for Pile of Glowsticks.
# Setting type: String
# Default value: 
Pile of Glowsticks | Preset Route Weights = 

## Whether Pile of Glowsticks is a scrap item.
# Setting type: Boolean
# Default value: false
Pile of Glowsticks | Is Scrap = false

## Whether Pile of Glowsticks is a shop item.
# Setting type: Boolean
# Default value: true
Pile of Glowsticks | Is Shop Item = true

## Cost for Pile of Glowsticks in the shop.
# Setting type: Int32
# Default value: 10
Pile of Glowsticks | Cost = 10

[Industrial Flashlight Options]

## Whether Industrial Flashlight is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for Industrial Flashlight.
# Setting type: Boolean
# Default value: false
Industrial Flashlight | Allow Editing Config = false

## Preset moon weights for Industrial Flashlight.
# Setting type: String
# Default value: lethal_company:all=+1,lethal_level_loader:wasteland=+2,lethal_company:march=+7,lethal_company:offense=+6,lethal_company:adamance=+6,lethal_company:rend=+6,lethal_company:dine=+6,lethal_company:embrion=+6,lethal_company:titan=+7,lethal_company:titan=+7
Industrial Flashlight | Preset Moon Weights = lethal_company:all=+1,lethal_level_loader:wasteland=+2,lethal_company:march=+7,lethal_company:offense=+6,lethal_company:adamance=+6,lethal_company:rend=+6,lethal_company:dine=+6,lethal_company:embrion=+6,lethal_company:titan=+7,lethal_company:titan=+7

## Preset interior weights for Industrial Flashlight.
# Setting type: String
# Default value: lethal_company:leveloneflow=*1.15,lethal_company:levelthreeflow=*1.15
Industrial Flashlight | Preset Interior Weights = lethal_company:leveloneflow=*1.15,lethal_company:levelthreeflow=*1.15

## Preset weather weights for Industrial Flashlight.
# Setting type: String
# Default value: weather_registry:blackout=*1.6
Industrial Flashlight | Preset Weather Weights = weather_registry:blackout=*1.6

## Preset route weights for Industrial Flashlight.
# Setting type: String
# Default value: 
Industrial Flashlight | Preset Route Weights = 

## Whether Industrial Flashlight is a scrap item.
# Setting type: Boolean
# Default value: true
Industrial Flashlight | Is Scrap = true

## How much Industrial Flashlight is worth when spawning.
# Setting type: BoundedRange
# Default value: 40,80
Industrial Flashlight | Value = 40,80

