## Settings file was created by plugin Light Eater v1.1.1
## Plugin GUID: Lega.LightEater

[_Global_]

## Light Eater spawn weights
# Setting type: String
# Default value: Vanilla:20,Modded:20
Spawn weights = Vanilla:20,Modded:20

## Is Deluminator item enabled?
# Setting type: Boolean
# Default value: true
Enable Deluminator = true

## Light Eater damage
# Setting type: Int32
# Default value: 30
Damage = 30

[Enemies Interactions]

## List of enemies that can be absorbed.
## The format is 'EnemyName:AbsorbDistance:AbsorbCharge'.
# Setting type: String
# Default value: RadMech:20:100:True,Boomba:5:20:False,Cleaning Drone:5:20:False,Mobile Turret:5:20:True,Shockwave Drone:5:20:True
Enemies list = RadMech:20:100:True,Boomba:5:20:False,Cleaning Drone:5:20:False,Mobile Turret:5:20:True,Shockwave Drone:5:20:True

[Ship Interactions]

## Hour at which the Light Eater can absorb the ship (between 1 and 18)
# Setting type: Int32
# Default value: 9
Min hour = 9

## Disable ship lights
# Setting type: Boolean
# Default value: true
Disable lights = true

## Disable ship screen
# Setting type: Boolean
# Default value: true
Disable screen = true

## Disable ship doors
# Setting type: Boolean
# Default value: true
Disable doors = true

## Disable ship lever
# Setting type: Boolean
# Default value: false
Disable lever = false

## Disable terminal
# Setting type: Boolean
# Default value: true
Disable terminal = true

## Disable item charger
# Setting type: Boolean
# Default value: true
Disable item charger = true

## Disable TV
# Setting type: Boolean
# Default value: true
Disable TV = true

## Disable ship teleporters
# Setting type: Boolean
# Default value: true
Disable teleporters = true

## Disable smart cupboard (from SelfSortingStorage)
# Setting type: Boolean
# Default value: true
Disable smart cupboard = true

