## Settings file was created by plugin LoadingInfo v1.1.4
## Plugin GUID: LoadingInfo

[LoadingInfo]

# Setting type: Int32
# Default value: -1
NameMaxLength = -1

# Setting type: Int32
# Default value: 10
MaxPlayerCount = 10

[LoadTipCompat]

# Setting type: Single
# Default value: 100
LoadTextY = 100

# Setting type: Single
# Default value: 0
LoadingTipsY = 0

