## Settings file was created by plugin LCLocalFixes v0.0.5
## Plugin GUID: local.SimonTendo.LCLocalFixes

[Development]

## When playing with a mod that turns on development mode such LethalDevMode, press the button to store furniture while the menu is open to toggle the time from standing still to moving normally.
## By default turned off to prevent desyncing between players and cheating.
# Setting type: Boolean
# Default value: false
Editor Time Toggle = false

## Write to GrabbbableObject's isInShipRoom, scrapPersistedThroughRounds, and hasBeenHeld on clients who otherwise would not have these values set upon joining or at the end of a day.
# Setting type: Boolean
# Default value: true
Sync GrabbableObject Parameters = true

## The landmines' debug logs of 'Audio Spatializer failed to...' will be hidden by creating a duplicate AudioSource that will not print these errors.
# Setting type: Boolean
# Default value: true
Landmine Audio Log = true

## The Spike Traps' debug logs of 'PlayOneShot was called with a null AudioClip' will be hidden by making the AudioClip it tries to call a silent sound file.
# Setting type: Boolean
# Default value: true
Spike Trap Audio Log = true

## Fix an error when Gift Boxes are opened outside the ship on clients that prints an error and can prevent some minor code from running.
# Setting type: Boolean
# Default value: true
Gift Box Error Log = true

[General]

## Allows ambient music to play multiple times during a run by circumventing a check that normally only allows it to play once.
# Setting type: Boolean
# Default value: false
Music Playing Once = false

## The ship monitor looking at players underground in mineshafts will draw a line directly to the elevator button, instead of the above-ground main entrance.
# Setting type: Boolean
# Default value: false
Navigation In Mineshaft = false

## Turns off a certain check near Artifice's ship landing location that tries to play audio every frame but can't, which could possibly cause frame drops in this area.
# Setting type: Boolean
# Default value: true
Artifice Ship Lag = true

## So-called AnimatedObjectTriggers will get new code injected that should fix an error that prevents sound from playing and the animation from syncing. Most prominent on Experimentation's sliding garage door.
# Setting type: Boolean
# Default value: false
Animated Object Error = false

## Makes it so the helmet drops that appear on your screen when looking up during rainy and stormy weather now also appear during floods.
# Setting type: Boolean
# Default value: true
Flood Helmet Drops = true

## Turn off the shadow of the first-person helmet, to have a cleaner silhouette of your character's shadow.
# Setting type: Boolean
# Default value: true
Helmet Double Shadow = true

## Add extra conditions upon which items' radar icons will be destroyed, such as when loading into the ship, upon being sold, and when a key unlocks a door.
# Setting type: Boolean
# Default value: true
Destroy Radar Icons = true

## Force the game to re-check for the level's terrain on the map radar, to fix an issue of the terrain not being visible on the ship monitor on subsequent days.
# Setting type: Boolean
# Default value: false
Fix Radar Terrain = false

[Mods]

## ModelReplacementAPI's first-person models should no longer stutter or lag behind your current location when on objects that move you, such as the ship or the mineshaft elevator.
## By default turned off since ModelReplacementAPI should have fixed this since this mod's initial release.
# Setting type: Boolean
# Default value: false
ModelReplacementAPI Model Stuttering = false

## Replace the internal file names SpectateEnemies uses to display what enemy you're spectating with the canonical names enemies are better known by.
# Setting type: Boolean
# Default value: true
SpectateEnemies Enemy Names = true

## Removes the cookie of the spectate camera, which could throw errors every frame and prevent other flashlights from turning on.
## Although this flashlight is present in the vanilla game, it is not accessible unless playing with SpectateEnemies or other mods enabling it.
# Setting type: Boolean
# Default value: true
SpectateEnemies Flashlight Errors = true

## Adds an extra check to Balanced_Items's code when checking for its data, to prevent null errors and fill in the missing data when it's trying to retrieve it.
## Primarily to fix incompatibility with LCGoldScrapMod.
# Setting type: Boolean
# Default value: true
Balanced_Items Null Checks = true

