## Settings file was created by plugin Wesleys Interior Tools v1.0.3
## Plugin GUID: MagicWesley.WesleysInteriorTools

[Calist]

## Movie: Iron lung, 0:00s, first sentence.
# Setting type: Boolean
# Default value: false
Motionsickness reducer = false

[Secondary objectives]

## Value of the 'bad' reward item
# Setting type: Int32
# Default value: 160
Bad reward value = 160

## Disable the secondaries when the interior has a trial present
# Setting type: Boolean
# Default value: true
Disable with trials = true

## Value multiplier for secondary objectives which are marked as easy
# Setting type: Single
# Default value: 1
Easy reward multiplier = 1

## Enable the secondary objectives in interiors
# Setting type: Boolean
# Default value: true
Enable secondaries = true

## Value of the 'good' reward item
# Setting type: Int32
# Default value: 420
Good reward value = 420

## Value multiplier for secondary objectives which are marked as hard
# Setting type: Single
# Default value: 1.4
Hard reward multiplier = 1.4

## Value multiplier for secondary objectives which are marked as medium
# Setting type: Single
# Default value: 1.15
Medium reward multiplier = 1.15

## Value of the 'medium' reward item
# Setting type: Int32
# Default value: 270
medium reward value = 270

## Whether the secondary objectives play global sounds upon objective completion
# Setting type: Boolean
# Default value: true
Progress sounds = true

## Value multiplier for the secondary objective rewards while playing alone (stacks on top of other multipliers)
# Setting type: Single
# Default value: 1.17
Solo reward multiplier = 1.17

## Value multiplier for secondary objectives which are marked as very easy
# Setting type: Single
# Default value: 0.6
Very easy reward multiplier = 0.6

[Toy store]

## Spawn nutcrackers outside when toy store is present
# Setting type: Boolean
# Default value: true
Spawn outside nutcrackers = true

[Trials]

## Enable the trials on moons or interiors
# Setting type: Boolean
# Default value: true
Enable trials = true

## Enable the trials only on moons tagged with *Trials* 
# Setting type: Boolean
# Default value: true
Only on trial moons = true

