## Settings file was created by plugin Matty's Fixes v1.1.40
## Plugin GUID: mattymatty.MattyFixes

[BadgeFixes]

## show correct level tag
# Setting type: Boolean
# Default value: true
enabled = true

[CupBoard]

## prevent items inside or above the Storage Closet from falling to the ground
# Setting type: Boolean
# Default value: true
enabled = true

## how loosely "close" the items have to be to the top of the closet for them to count X/Z
# Setting type: Single
# Default value: 0.05
# Acceptable value range: From 0 to 0.5
tolerance = 0.05

## how much move the items inside the closet on load ( only if ItemClippingFix disabled )
# Setting type: Single
# Default value: 0.1
# Acceptable value range: From 0 to 0.5
shift = 0.1

[DawnLib|abandoned_company_assets]

## Comma separated Vector3 rotation
## vanilla default = '0,0,0'
# Setting type: String
# Default value: default
Antique Candle = default

## Comma separated Vector3 rotation
## vanilla default = '0,0,0'
# Setting type: String
# Default value: default
Flip Lighter = default

## Comma separated Vector3 rotation
## vanilla default = '0,0,0'
# Setting type: String
# Default value: default
Bullet Lighter = default

## Comma separated Vector3 rotation
## vanilla default = '0,0,90'
# Setting type: String
# Default value: default
Abandoned Pro-Flashlight = default

## Comma separated Vector3 rotation
## vanilla default = '0,0,90'
# Setting type: String
# Default value: default
Abandoned Flashlight = default

## Comma separated Vector3 rotation
## vanilla default = '0,0,0'
# Setting type: String
# Default value: default
Industrial Flashlight = default

## Comma separated Vector3 rotation
## vanilla default = '0,0,180'
# Setting type: String
# Default value: default
Abandoned Walkie-talkie = default

## Comma separated Vector3 rotation
## vanilla default = '0,0,-90'
# Setting type: String
# Default value: default
Abandoned TZP-Inhalant = default

## Comma separated Vector3 rotation
## vanilla default = '0,0,90'
# Setting type: String
# Default value: default
Emergency Flare = default

## Comma separated Vector3 rotation
## vanilla default = '0,0,0'
# Setting type: String
# Default value: default
Pile of Glowsticks = default

[DawnLib|lethalcompany]

Big screw = default

[DawnLib|unknown_lib]

## Comma separated Vector3 rotation
## vanilla default = '-21,0,0'
# Setting type: String
# Default value: default
Big screw = default

## Comma separated Vector3 rotation
## vanilla default = '-90,0,0'
# Setting type: String
# Default value: default
Golden goblet = default

[Debug]

## Print A LOT more logs about Meshes
# Setting type: LogLevel
# Default value: None
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
Mesh Verbosity Level = None

## Print A LOT more logs about Cupboard detection
# Setting type: LogLevel
# Default value: None
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
Cupboard Verbosity Level = None

## Print A LOT more logs about Cupboard detection
# Setting type: LogLevel
# Default value: None
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
Item Verbosity Level = None

[ItemClipping]

## fix rotation and height of various items when on the Ground
# Setting type: Boolean
# Default value: true
enabled = true

## fix rotation of newly spawned items
# Setting type: Boolean
# Default value: true
rotate_on_spawn = true

## additional y offset for items on the ground
# Setting type: Single
# Default value: 0
# Acceptable value range: From -0.5 to 0.5
vertical_offset = 0

## y offset for items on the ground
## Dictionary Format: '[key]:[value],[key2]:[value2]'
## eg: `Vanilla/Ammo:0.0`
# Setting type: String
# Default value: 
manual_offsets = 

[OutOfBounds]

## prevent items from falling below the ship
# Setting type: Boolean
# Default value: true
enabled = true

## vertical offset to apply to objects on load to prevent them from clipping into the floor
# Setting type: Single
# Default value: 0.01
# Acceptable value range: From 0.001 to 1
vertical_offset = 0.01

## Fix items generating inside furniture ( eg: lamps inside the kitchen counter )
# Setting type: Boolean
# Default value: true
spawn_in_furniture = true

[Particles]

## change rendering of the Lightning particles:
## - Vanilla   : no changes!
## - Shape     : show lightning particles as dev intended! (in the shape of the object) 
## - Alternate : particles will show in a sphere around the item
# Setting type: LightningType
# Default value: Shape
# Acceptable values: Vanilla, Shape, Alternate
lightning = Shape

## show crawling bugs particles as dev intended! ( affects Ear, Hand and Thigh )
# Setting type: Boolean
# Default value: true
flies = true

[Radar]

## remove orphan radar icons from deleted/collected scrap
# Setting type: Boolean
# Default value: true
enabled = true

## remove orphan radar icons from deleted scrap ( company building )
# Setting type: Boolean
# Default value: true
deleted_scrap = true

## remove orphan radar icons from scrap on the ship in a recently created game
# Setting type: Boolean
# Default value: true
ship_loot = true

[ReadableMeshes]

## convert all meshes to readable at runtime
# Setting type: Boolean
# Default value: true
enabled = true

[Unknown]

## Comma separated Vector3 rotation
## vanilla default = '0,0,90'
# Setting type: String
# Default value: default
box = default

## Comma separated Vector3 rotation
## vanilla default = '0,0,0'
# Setting type: String
# Default value: default
Beer = default

## Comma separated Vector3 rotation
## vanilla default = '0,0,0'
# Setting type: String
# Default value: default
Chips = default

[Vanilla]

## Comma separated Vector3 rotation
## vanilla default = '0,0,180'
# Setting type: String
# Default value: default
clipboard = default

## Comma separated Vector3 rotation
## vanilla default = '-90,0,0'
# Setting type: String
# Default value: default
Sticky note = default

## Comma separated Vector3 rotation
## vanilla default = '0,0,90'
# Setting type: String
# Default value: default
Binoculars = default

## Comma separated Vector3 rotation
## vanilla default = '0,0,90'
# Setting type: String
# Default value: default
Boombox = default

## Comma separated Vector3 rotation
## vanilla default = '0,0,90'
# Setting type: String
# Default value: 90,0,90
Flashlight = 90,0,90

## Comma separated Vector3 rotation
## vanilla default = '0,0,0'
# Setting type: String
# Default value: 45,0,0
Jetpack = 45,0,0

## Comma separated Vector3 rotation
## vanilla default = '0,0,90'
# Setting type: String
# Default value: 180,0,90
Key = 180,0,90

## Comma separated Vector3 rotation
## vanilla default = '-90,0,0'
# Setting type: String
# Default value: default
Lockpicker = default

## Comma separated Vector3 rotation
## vanilla default = '0,0,0'
# Setting type: String
# Default value: 0,0,135
Apparatus = 0,0,135

## Comma separated Vector3 rotation
## vanilla default = '0,0,150'
# Setting type: String
# Default value: default
Mapper = default

## Comma separated Vector3 rotation
## vanilla default = '0,0,90'
# Setting type: String
# Default value: 90,0,90
Pro-flashlight = 90,0,90

## Comma separated Vector3 rotation
## vanilla default = '0,0,-90'
# Setting type: String
# Default value: 0,0,-90
Shovel = 0,0,-90

## Comma separated Vector3 rotation
## vanilla default = '0,0,90'
# Setting type: String
# Default value: 0,0,90
Stun grenade = 0,0,90

## Comma separated Vector3 rotation
## vanilla default = '0,90,0'
# Setting type: String
# Default value: 0,90,0
Extension ladder = 0,90,0

## Comma separated Vector3 rotation
## vanilla default = '0,0,-90'
# Setting type: String
# Default value: 0,0,-90
TZP-Inhalant = 0,0,-90

## Comma separated Vector3 rotation
## vanilla default = '0,0,180'
# Setting type: String
# Default value: default
Walkie-talkie = default

## Comma separated Vector3 rotation
## vanilla default = '90,0,90'
# Setting type: String
# Default value: 95,0,90
Zap gun = 95,0,90

## Comma separated Vector3 rotation
## vanilla default = '-90,0,0'
# Setting type: String
# Default value: 0,0,0
Magic 7 ball = 0,0,0

## Comma separated Vector3 rotation
## vanilla default = '0,0,90'
# Setting type: String
# Default value: 0,-90,270
Airhorn = 0,-90,270

## Comma separated Vector3 rotation
## vanilla default = '-90,0,0'
# Setting type: String
# Default value: default
Bell = default

## Comma separated Vector3 rotation
## vanilla default = '-90,0,0'
# Setting type: String
# Default value: -90,0,0
Bottles = -90,0,0

## Comma separated Vector3 rotation
## vanilla default = '90,0,0'
# Setting type: String
# Default value: 90,180,0
Brush = 90,180,0

## Comma separated Vector3 rotation
## vanilla default = '90,0,0'
# Setting type: String
# Default value: 90,-135,0
Candy = 90,-135,0

## Comma separated Vector3 rotation
## vanilla default = '-90,0,40'
# Setting type: String
# Default value: -90,-90,40
Cash register = -90,-90,40

## Comma separated Vector3 rotation
## vanilla default = '-90,0,0'
# Setting type: String
# Default value: -90,0,0
Chemical jug = -90,0,0

## Comma separated Vector3 rotation
## vanilla default = '-90,0,0'
# Setting type: String
# Default value: -90,-30,0
Clown horn = -90,-30,0

## Comma separated Vector3 rotation
## vanilla default = '7,0,0'
# Setting type: String
# Default value: 7,180,0
Large axle = 7,180,0

## Comma separated Vector3 rotation
## vanilla default = '-90,0,0'
# Setting type: String
# Default value: -90,0,0
Teeth = -90,0,0

## Comma separated Vector3 rotation
## vanilla default = '-90,0,0'
# Setting type: String
# Default value: -90,180,0
Dust pan = -90,180,0

## Comma separated Vector3 rotation
## vanilla default = '90,0,0'
# Setting type: String
# Default value: 90,180,0
Egg beater = 90,180,0

## Comma separated Vector3 rotation
## vanilla default = '0,0,90'
# Setting type: String
# Default value: -90,0,0
V-type engine = -90,0,0

## Comma separated Vector3 rotation
## vanilla default = '-90,0,0'
# Setting type: String
# Default value: default
Fancy lamp = default

## Comma separated Vector3 rotation
## vanilla default = '0,0,-90'
# Setting type: String
# Default value: default
Painting = default

## Comma separated Vector3 rotation
## vanilla default = '0,0,90'
# Setting type: String
# Default value: -45,0,90
Plastic fish = -45,0,90

## Comma separated Vector3 rotation
## vanilla default = '0,0,0'
# Setting type: String
# Default value: 0,0,0
Laser pointer = 0,0,0

## Comma separated Vector3 rotation
## vanilla default = '-90,0,0'
# Setting type: String
# Default value: -90,0,-90
Gold bar = -90,0,-90

## Comma separated Vector3 rotation
## vanilla default = '0,0,-90'
# Setting type: String
# Default value: 0,-90,-90
Hairdryer = 0,-90,-90

## Comma separated Vector3 rotation
## vanilla default = '0,0,-90'
# Setting type: String
# Default value: 0,-45,-90
Magnifying glass = 0,-45,-90

## Comma separated Vector3 rotation
## vanilla default = '90,0,90'
# Setting type: String
# Default value: default
Metal sheet = default

## Comma separated Vector3 rotation
## vanilla default = '-90,0,90'
# Setting type: String
# Default value: default
Cookie pan = default

## Comma separated Vector3 rotation
## vanilla default = '-90,0,0'
# Setting type: String
# Default value: -90,0,0
Mug = -90,0,0

## Comma separated Vector3 rotation
## vanilla default = '-90,0,0'
# Setting type: String
# Default value: -90,0,0
Perfume bottle = -90,0,0

## Comma separated Vector3 rotation
## vanilla default = '-90,0,-90'
# Setting type: String
# Default value: -90,180,-90
Old phone = -90,180,-90

## Comma separated Vector3 rotation
## vanilla default = '-90,0,0'
# Setting type: String
# Default value: -90,0,0
Jar of pickles = -90,0,0

## Comma separated Vector3 rotation
## vanilla default = '-90,0,0'
# Setting type: String
# Default value: -90,0,0
Pill bottle = -90,0,0

## Comma separated Vector3 rotation
## vanilla default = '-90,0,0'
# Setting type: String
# Default value: -90,180,0
Remote = -90,180,0

## Comma separated Vector3 rotation
## vanilla default = '0,0,90'
# Setting type: String
# Default value: 0,-90,90
Ring = 0,-90,90

## Comma separated Vector3 rotation
## vanilla default = '-90,0,0'
# Setting type: String
# Default value: -90,0,0
Toy robot = -90,0,0

## Comma separated Vector3 rotation
## vanilla default = '-90,0,-90'
# Setting type: String
# Default value: -90,0,90
Rubber Ducky = -90,0,90

## Comma separated Vector3 rotation
## vanilla default = '0,0,-90'
# Setting type: String
# Default value: default
Red soda = default

## Comma separated Vector3 rotation
## vanilla default = '-90,0,0'
# Setting type: String
# Default value: -90,0,0
Steering wheel = -90,0,0

## Comma separated Vector3 rotation
## vanilla default = '0,0,-90'
# Setting type: String
# Default value: default
Stop sign = default

## Comma separated Vector3 rotation
## vanilla default = '-90,0,-90'
# Setting type: String
# Default value: default
Tea kettle = default

## Comma separated Vector3 rotation
## vanilla default = '-90,0,0'
# Setting type: String
# Default value: -90,0,0
Toothpaste = -90,0,0

## Comma separated Vector3 rotation
## vanilla default = '0,0,90'
# Setting type: String
# Default value: default
Toy cube = default

## Comma separated Vector3 rotation
## vanilla default = '7,0,0'
# Setting type: String
# Default value: 7,0,0
Hive = 7,0,0

## Comma separated Vector3 rotation
## vanilla default = '0,0,0'
# Setting type: String
# Default value: 0,0,0
Radar-booster = 0,0,0

## Comma separated Vector3 rotation
## vanilla default = '0,0,-90'
# Setting type: String
# Default value: default
Yield sign = default

## Comma separated Vector3 rotation
## vanilla default = '180,90,-90'
# Setting type: String
# Default value: 180,90,-5
Shotgun = 180,90,-5

## Comma separated Vector3 rotation
## vanilla default = '0,0,90'
# Setting type: String
# Default value: 0,0,90
Ammo = 0,0,90

## Comma separated Vector3 rotation
## vanilla default = '0,0,90'
# Setting type: String
# Default value: 0,0,195
Spray paint = 0,0,195

## Comma separated Vector3 rotation
## vanilla default = '0,0,90'
# Setting type: String
# Default value: 0,0,90
Homemade flashbang = 0,0,90

## Comma separated Vector3 rotation
## vanilla default = '-90,0,0'
# Setting type: String
# Default value: -90,0,0
Gift = -90,0,0

## Comma separated Vector3 rotation
## vanilla default = '25,0,0'
# Setting type: String
# Default value: 25,0,0
Flask = 25,0,0

## Comma separated Vector3 rotation
## vanilla default = '-90,90,0'
# Setting type: String
# Default value: -90,90,0
Tragedy = -90,90,0

## Comma separated Vector3 rotation
## vanilla default = '-90,90,0'
# Setting type: String
# Default value: -90,90,0
Comedy = -90,90,0

## Comma separated Vector3 rotation
## vanilla default = '-90,180,0'
# Setting type: String
# Default value: -90,180,0
Whoopie cushion = -90,180,0

## Comma separated Vector3 rotation
## vanilla default = '0,0,-90'
# Setting type: String
# Default value: default
Kitchen knife = default

## Comma separated Vector3 rotation
## vanilla default = '0,0,90'
# Setting type: String
# Default value: default
Easter egg = default

## Comma separated Vector3 rotation
## vanilla default = '0,0,0'
# Setting type: String
# Default value: default
Weed killer = default

## Comma separated Vector3 rotation
## vanilla default = '-21,0,0'
# Setting type: String
# Default value: default
Soccer ball = default

## Comma separated Vector3 rotation
## vanilla default = '-90,0,0'
# Setting type: String
# Default value: default
Control pad = default

## Comma separated Vector3 rotation
## vanilla default = '-90,0,0'
# Setting type: String
# Default value: default
Garbage lid = default

## Comma separated Vector3 rotation
## vanilla default = '-90,0,0'
# Setting type: String
# Default value: default
Plastic cup = default

## Comma separated Vector3 rotation
## vanilla default = '-90,0,180'
# Setting type: String
# Default value: default
Toilet paper = default

## Comma separated Vector3 rotation
## vanilla default = '-90,0,180'
# Setting type: String
# Default value: default
Clock = default

## Comma separated Vector3 rotation
## vanilla default = '0,0,0'
# Setting type: String
# Default value: default
Toy train = default

## Comma separated Vector3 rotation
## vanilla default = '0,0,0'
# Setting type: String
# Default value: 0,-90,0
Zed Dog = 0,-90,0

## Comma separated Vector3 rotation
## vanilla default = '78.28651,0,175.1042'
# Setting type: String
# Default value: default
Belt bag = default

## Comma separated Vector3 rotation
## vanilla default = '0,0,0'
# Setting type: String
# Default value: default
Egg = default

## Comma separated Vector3 rotation
## vanilla default = '-45,0,-90'
# Setting type: String
# Default value: default
Hand = default

## Comma separated Vector3 rotation
## vanilla default = '-90,0,0'
# Setting type: String
# Default value: default
Bone = default

## Comma separated Vector3 rotation
## vanilla default = '-90,0,0'
# Setting type: String
# Default value: default
Ribcage = default

## Comma separated Vector3 rotation
## vanilla default = '0,0,-90'
# Setting type: String
# Default value: default
Ear = default

## Comma separated Vector3 rotation
## vanilla default = '-90,0,0'
# Setting type: String
# Default value: default
Foot = default

## Comma separated Vector3 rotation
## vanilla default = '0,0,90'
# Setting type: String
# Default value: default
Knee = default

## Comma separated Vector3 rotation
## vanilla default = '90,0,90'
# Setting type: String
# Default value: default
Heart = default

## Comma separated Vector3 rotation
## vanilla default = '180,0,0'
# Setting type: String
# Default value: default
Tongue = default

Maneater = default

Body = default

Golden cup = default

Big bolt = -21,0,0

