## Settings file was created by plugin Matty's Fixes v1.1.40
## Plugin GUID: mattymatty.MattyFixes

[BadgeFixes]

## show correct level tag
# Setting type: Boolean
# Default value: true
enabled = true

[CupBoard]

## prevent items inside or above the Storage Closet from falling to the ground
# Setting type: Boolean
# Default value: true
enabled = true

## how loosely "close" the items have to be to the top of the closet for them to count X/Z
# Setting type: Single
# Default value: 0.05
# Acceptable value range: From 0 to 0.5
tolerance = 0.05

## how much move the items inside the closet on load ( only if ItemClippingFix disabled )
# Setting type: Single
# Default value: 0.1
# Acceptable value range: From 0 to 0.5
shift = 0.1

[DawnLib|abandoned_company_assets]

Antique Candle = default

Flip Lighter = default

Bullet Lighter = default

Abandoned Pro-Flashlight = default

Abandoned Flashlight = default

Industrial Flashlight = default

Abandoned Walkie-talkie = default

Abandoned TZP-Inhalant = default

Emergency Flare = default

Pile of Glowsticks = default

[DawnLib|lethalcompany]

Big screw = default

[DawnLib|unknown_lib]

Big screw = default

Golden goblet = default

[Debug]

## Print A LOT more logs about Meshes
# Setting type: LogLevel
# Default value: None
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
Mesh Verbosity Level = None

## Print A LOT more logs about Cupboard detection
# Setting type: LogLevel
# Default value: None
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
Cupboard Verbosity Level = None

## Print A LOT more logs about Cupboard detection
# Setting type: LogLevel
# Default value: None
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
Item Verbosity Level = None

[ItemClipping]

## fix rotation and height of various items when on the Ground
# Setting type: Boolean
# Default value: true
enabled = true

## fix rotation of newly spawned items
# Setting type: Boolean
# Default value: true
rotate_on_spawn = true

## additional y offset for items on the ground
# Setting type: Single
# Default value: 0
# Acceptable value range: From -0.5 to 0.5
vertical_offset = 0

## y offset for items on the ground
## Dictionary Format: '[key]:[value],[key2]:[value2]'
## eg: `Vanilla/Ammo:0.0`
# Setting type: String
# Default value: 
manual_offsets = 

[OutOfBounds]

## prevent items from falling below the ship
# Setting type: Boolean
# Default value: true
enabled = true

## vertical offset to apply to objects on load to prevent them from clipping into the floor
# Setting type: Single
# Default value: 0.01
# Acceptable value range: From 0.001 to 1
vertical_offset = 0.01

## Fix items generating inside furniture ( eg: lamps inside the kitchen counter )
# Setting type: Boolean
# Default value: true
spawn_in_furniture = true

[Particles]

## change rendering of the Lightning particles:
## - Vanilla   : no changes!
## - Shape     : show lightning particles as dev intended! (in the shape of the object) 
## - Alternate : particles will show in a sphere around the item
# Setting type: LightningType
# Default value: Shape
# Acceptable values: Vanilla, Shape, Alternate
lightning = Shape

## show crawling bugs particles as dev intended! ( affects Ear, Hand and Thigh )
# Setting type: Boolean
# Default value: true
flies = true

[Radar]

## remove orphan radar icons from deleted/collected scrap
# Setting type: Boolean
# Default value: true
enabled = true

## remove orphan radar icons from deleted scrap ( company building )
# Setting type: Boolean
# Default value: true
deleted_scrap = true

## remove orphan radar icons from scrap on the ship in a recently created game
# Setting type: Boolean
# Default value: true
ship_loot = true

[ReadableMeshes]

## convert all meshes to readable at runtime
# Setting type: Boolean
# Default value: true
enabled = true

[Unknown]

box = default

Beer = default

Chips = default

[Vanilla]

clipboard = default

Sticky note = default

Binoculars = default

Boombox = default

Flashlight = 90,0,90

Jetpack = 45,0,0

Key = 180,0,90

Lockpicker = default

Apparatus = 0,0,135

Mapper = default

Pro-flashlight = 90,0,90

Shovel = 0,0,-90

Stun grenade = 0,0,90

Extension ladder = 0,90,0

TZP-Inhalant = 0,0,-90

Walkie-talkie = default

Zap gun = 95,0,90

Magic 7 ball = 0,0,0

Airhorn = 0,-90,270

Bell = default

Bottles = -90,0,0

Brush = 90,180,0

Candy = 90,-135,0

Cash register = -90,-90,40

Chemical jug = -90,0,0

Clown horn = -90,-30,0

Large axle = 7,180,0

Teeth = -90,0,0

Dust pan = -90,180,0

Egg beater = 90,180,0

V-type engine = -90,0,0

Fancy lamp = default

Painting = default

Plastic fish = -45,0,90

Laser pointer = 0,0,0

Gold bar = -90,0,-90

Hairdryer = 0,-90,-90

Magnifying glass = 0,-45,-90

Metal sheet = default

Cookie pan = default

Mug = -90,0,0

Perfume bottle = -90,0,0

Old phone = -90,180,-90

Jar of pickles = -90,0,0

Pill bottle = -90,0,0

Remote = -90,180,0

Ring = 0,-90,90

Toy robot = -90,0,0

Rubber Ducky = -90,0,90

Red soda = default

Steering wheel = -90,0,0

Stop sign = default

Tea kettle = default

Toothpaste = -90,0,0

Toy cube = default

Hive = 7,0,0

Radar-booster = 0,0,0

Yield sign = default

Shotgun = 180,90,-5

Ammo = 0,0,90

Spray paint = 0,0,195

Homemade flashbang = 0,0,90

Gift = -90,0,0

Flask = 25,0,0

Tragedy = -90,90,0

Comedy = -90,90,0

Whoopie cushion = -90,180,0

Kitchen knife = default

Easter egg = default

Weed killer = default

Soccer ball = default

Control pad = default

Garbage lid = default

Plastic cup = default

Toilet paper = default

Clock = default

Toy train = default

Zed Dog = 0,-90,0

Belt bag = default

Egg = default

Hand = default

Bone = default

Ribcage = default

Ear = default

Foot = default

Knee = default

Heart = default

Tongue = default

Maneater = default

Body = default

Golden cup = default

Big bolt = -21,0,0

