## Settings file was created by plugin loaforcsSoundAPI v2.0.13
## Plugin GUID: me.loaforc.soundapi

[Advanced]

## Should SoundAPI spoof the return value of AudioSource.clip? This improves compatibility in most edge cases.
# Setting type: Boolean
# Default value: true
AudioClipSpoofing = true

## What backend should SoundAPI try to use? You should only use this option if you know what it means. Note: NativeBackend needs to be supported on a per unity version basis, if the current version is not supported it will fallback to the old HarmonyX backend automatically.
# Setting type: Backend
# Default value: NativeBackend
# Acceptable values: HarmonyX, NativeBackend
PreferredBackend = NativeBackend

[Developer]

## While true SoundAPI will generate a json and markdown file per session that records information SoundAPI and related mods find.
# Setting type: Boolean
# Default value: false
GenerateReports = false

[Experiments]

## update_every_frame by default does not work on `.PlayOneshot()`. This experiment works around the issue by instead playing the clip on a duplicate AudioSource, allowing UEF to work as intended.
# Setting type: Boolean
# Default value: false
UEFOneShotWorkaround = false

[InternalDebugging]

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
AudioSourceAdditionalData = false

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
SoundReplacementLoader = false

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
SoundReplacementHandler = false

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
MatchStrings = false

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
ConditionsInfo = false

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
UpdateEveryFrame = false

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
AudioClipSpoofing = false

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
NativeBackend = false

[PackLoading]

## Should SoundAPI use a fake BepInPlugin attribute when generating configs? This can fix some issues with mod managers, notably with Gale displaying the config file name, instead of the sound-pack name.
# Setting type: Boolean
# Default value: true
MetadataSpoofing = true

