## Settings file was created by plugin TerminalUtils v0.0.16
## Plugin GUID: mrov.TerminalUtils

[Debug]

## Set the logging level for the mod
# Setting type: LoggingType
# Default value: Basic
# Acceptable values: Basic, Debug, Developer
Logging Levels = Basic

[General]

## Number of lines to scroll per mouse wheel tick
# Setting type: Int32
# Default value: 10
Lines to Scroll = 10

## Whether to use the legacy scroll behavior (from TerminalFormatter)
# Setting type: Boolean
# Default value: false
Use Legacy Scroll Behavior = false

[Moons]

## Whether to display locked moons in the moon catalogue.
# Setting type: Boolean
# Default value: true
Display Locked Moons = false

[Nodes]

## Enable node Moon Catalogue
# Setting type: Boolean
# Default value: true
Moon Catalogue = true

## Enable node Store Catalogue
# Setting type: Boolean
# Default value: true
Store Catalogue = true

## Enable node Scan
# Setting type: Boolean
# Default value: true
Scan = true

[Preferences]

## Set the preview info type. Must be the name of an existing preview info type.
# Setting type: String
# Default value: Name;Price;Weather
Preview Info Type = Name;Price;Weather

## Set the filter info type. Must be the name of an existing filter info type.
# Setting type: String
# Default value: None
Filter Info Type = None

## Set the default sort info type. Must be the name of an existing sort info type.
# Setting type: String
# Default value: None
Sort Info Type = None

## Set the default store sort info type. Must be the name of an existing store sort info type.
# Setting type: String
# Default value: Name
Store Sort Info Type = Name

[Scan]

## Enable detailed scan page
# Setting type: Boolean
# Default value: true
Display Detailed Scan = true

## Enable accurate prices on scan page
# Setting type: Boolean
# Default value: false
Display Accurate Prices = false

[Store]

## Set the number of items to divide the store into. 0 means no division.
# Setting type: Int32
# Default value: 5
Divide Store page into groups = 5

