## Settings file was created by plugin WeatherRegistry v0.8.8
## Plugin GUID: mrov.WeatherRegistry

[|General]

## Semicolon-separated list of asset bundle names that shouldn't be loaded.
# Setting type: String
# Default value: 
Bundle Blacklist = 

## Enable colored weathers on map screen
# Setting type: Boolean
# Default value: true
Colored Weathers = true

## Display planet videos on map screen
# Setting type: Boolean
# Default value: true
Planet Videos = true

## Show weather multipliers on map screen
# Setting type: Boolean
# Default value: false
Show Weather Multipliers = false

## Display 'WEATHER: CLEAR' on map screen when weather is clear
# Setting type: Boolean
# Default value: true
Show Clear Weather = true

## Use Registry's scrap multipliers. Disable if you prefer to use other mod's multiplier settings.
# Setting type: Boolean
# Default value: true
Scrap multipliers = true

[|Logging]

## Select which logs to show.
# Setting type: LoggingType
# Default value: Basic
# Acceptable values: Basic, Debug, Developer
Display Log Levels = Basic

[|Patches]

## Allows you to disable FacilityMeltdown patch (for when the mod is not working correctly)
# Setting type: Boolean
# Default value: true
Enable Facility Meltdown Compatibility Patch = true

[|WeatherSelection]

## Select the algorithm to use during weather selection.
# Setting type: WeatherAlgorithm
# Default value: Registry
# Acceptable values: Registry, Vanilla, Hybrid
Weather Selection Algorithm = Registry

## If enabled, the first day will always have clear weather, on all planets, regardless of the selected algorithm.
# Setting type: Boolean
# Default value: false
First Day Clear Weather = false

[Modded Weather: Blue]

## The default weight of this weather
# Setting type: Int32
# Default value: 50
# Acceptable value range: From 0 to 10000
Default weight = 50

## Multiplier for the amount of scrap spawned
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 100
Scrap amount multiplier = 1

## Multiplier for the value of scrap spawned
# Setting type: Single
# Default value: 1.2
# Acceptable value range: From 0 to 100
Scrap value multiplier = 1.2

## Whether to make the filter a whitelist (false is blacklist, true is whitelist)
# Setting type: Boolean
# Default value: false
Filtering option = false

## Semicolon-separated list of level names to filter (use `Filtering Option` config to select filter type)
# Setting type: String
# Default value: Company
Level filter = Company

## Semicolon-separated list of level weights
# Setting type: String
# Default value: 
Level weights = 

## Semicolon-separated list of weather-to-weather weights - if previous day was Blue, next day should have weights:
# Setting type: String
# Default value: 
WeatherToWeather weights = 

[Modded Weather: EvilBlue]

## The default weight of this weather
# Setting type: Int32
# Default value: 25
# Acceptable value range: From 0 to 10000
Default weight = 0

## Multiplier for the amount of scrap spawned
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 100
Scrap amount multiplier = 1

## Multiplier for the value of scrap spawned
# Setting type: Single
# Default value: 1.4
# Acceptable value range: From 0 to 100
Scrap value multiplier = 1.4

## Whether to make the filter a whitelist (false is blacklist, true is whitelist)
# Setting type: Boolean
# Default value: false
Filtering option = false

## Semicolon-separated list of level names to filter (use `Filtering Option` config to select filter type)
# Setting type: String
# Default value: Company
Level filter = Company

## Semicolon-separated list of level weights
# Setting type: String
# Default value: 
Level weights = 

## Semicolon-separated list of weather-to-weather weights - if previous day was Evil Blue, next day should have weights:
# Setting type: String
# Default value: 
WeatherToWeather weights = 

[Vanilla Weather: DustClouds]

## The default weight of this weather
# Setting type: Int32
# Default value: 100
# Acceptable value range: From 0 to 10000
Default weight = 100

## Multiplier for the amount of scrap spawned
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 100
Scrap amount multiplier = 1

## Multiplier for the value of scrap spawned
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 100
Scrap value multiplier = 1

## Whether to make the filter a whitelist (false is blacklist, true is whitelist)
# Setting type: Boolean
# Default value: false
Filtering option = false

## Semicolon-separated list of level names to filter (use `Filtering Option` config to select filter type)
# Setting type: String
# Default value: Company;
Level filter = Company;

## Semicolon-separated list of level weights
# Setting type: String
# Default value: MoonName@50;
Level weights = MoonName@50;

## Semicolon-separated list of weather-to-weather weights - if previous day was Dust Clouds, next day should have weights:
# Setting type: String
# Default value: WeatherName@50
WeatherToWeather weights = WeatherName@50

[Vanilla Weather: Eclipsed]

## The default weight of this weather
# Setting type: Int32
# Default value: 100
# Acceptable value range: From 0 to 10000
Default weight = 100

## Multiplier for the amount of scrap spawned
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 100
Scrap amount multiplier = 1

## Multiplier for the value of scrap spawned
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 100
Scrap value multiplier = 1

## Whether to make the filter a whitelist (false is blacklist, true is whitelist)
# Setting type: Boolean
# Default value: false
Filtering option = false

## Semicolon-separated list of level names to filter (use `Filtering Option` config to select filter type)
# Setting type: String
# Default value: Company;
Level filter = Company;

## Semicolon-separated list of level weights
# Setting type: String
# Default value: MoonName@50;
Level weights = MoonName@50;

## Semicolon-separated list of weather-to-weather weights - if previous day was Eclipsed, next day should have weights:
# Setting type: String
# Default value: None@300; Rainy@40; Stormy@16; Flooded@20; Foggy@60; Eclipsed@10;
WeatherToWeather weights = None@300; Rainy@40; Stormy@16; Flooded@20; Foggy@60; Eclipsed@10;

[Vanilla Weather: Flooded]

## The default weight of this weather
# Setting type: Int32
# Default value: 100
# Acceptable value range: From 0 to 10000
Default weight = 100

## Multiplier for the amount of scrap spawned
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 100
Scrap amount multiplier = 1

## Multiplier for the value of scrap spawned
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 100
Scrap value multiplier = 1

## Whether to make the filter a whitelist (false is blacklist, true is whitelist)
# Setting type: Boolean
# Default value: false
Filtering option = false

## Semicolon-separated list of level names to filter (use `Filtering Option` config to select filter type)
# Setting type: String
# Default value: Company;
Level filter = Company;

## Semicolon-separated list of level weights
# Setting type: String
# Default value: MoonName@50;
Level weights = MoonName@50;

## Semicolon-separated list of weather-to-weather weights - if previous day was Flooded, next day should have weights:
# Setting type: String
# Default value: None@160; Rainy@60; Stormy@50; Flooded@10; Foggy@60; Eclipsed@40;
WeatherToWeather weights = None@160; Rainy@60; Stormy@50; Flooded@10; Foggy@60; Eclipsed@40;

[Vanilla Weather: Foggy]

## The default weight of this weather
# Setting type: Int32
# Default value: 100
# Acceptable value range: From 0 to 10000
Default weight = 100

## Multiplier for the amount of scrap spawned
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 100
Scrap amount multiplier = 1

## Multiplier for the value of scrap spawned
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 100
Scrap value multiplier = 1

## Whether to make the filter a whitelist (false is blacklist, true is whitelist)
# Setting type: Boolean
# Default value: false
Filtering option = false

## Semicolon-separated list of level names to filter (use `Filtering Option` config to select filter type)
# Setting type: String
# Default value: Company;
Level filter = Company;

## Semicolon-separated list of level weights
# Setting type: String
# Default value: MoonName@50;
Level weights = MoonName@50;

## Semicolon-separated list of weather-to-weather weights - if previous day was Foggy, next day should have weights:
# Setting type: String
# Default value: None@200; Rainy@60; Stormy@50; Flooded@10; Foggy@30; Eclipsed@20;
WeatherToWeather weights = None@200; Rainy@60; Stormy@50; Flooded@10; Foggy@30; Eclipsed@20;

[Vanilla Weather: None]

## The default weight of this weather
# Setting type: Int32
# Default value: 100
# Acceptable value range: From 0 to 10000
Default weight = 100

## Multiplier for the amount of scrap spawned
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 100
Scrap amount multiplier = 1

## Multiplier for the value of scrap spawned
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 100
Scrap value multiplier = 1

## Whether to make the filter a whitelist (false is blacklist, true is whitelist)
# Setting type: Boolean
# Default value: false
Filtering option = false

## Semicolon-separated list of level names to filter (use `Filtering Option` config to select filter type)
# Setting type: String
# Default value: Company;
Level filter = Company;

## Semicolon-separated list of level weights
# Setting type: String
# Default value: MoonName@50;
Level weights = MoonName@50;

## Semicolon-separated list of weather-to-weather weights - if previous day was None, next day should have weights:
# Setting type: String
# Default value: None@160; Rainy@100; Stormy@70; Flooded@20; Foggy@40; Eclipsed@10;
WeatherToWeather weights = None@160; Rainy@100; Stormy@70; Flooded@20; Foggy@40; Eclipsed@10;

[Vanilla Weather: Rainy]

## The default weight of this weather
# Setting type: Int32
# Default value: 100
# Acceptable value range: From 0 to 10000
Default weight = 100

## Multiplier for the amount of scrap spawned
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 100
Scrap amount multiplier = 1

## Multiplier for the value of scrap spawned
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 100
Scrap value multiplier = 1

## Whether to make the filter a whitelist (false is blacklist, true is whitelist)
# Setting type: Boolean
# Default value: false
Filtering option = false

## Semicolon-separated list of level names to filter (use `Filtering Option` config to select filter type)
# Setting type: String
# Default value: Company;
Level filter = Company;

## Semicolon-separated list of level weights
# Setting type: String
# Default value: MoonName@50;
Level weights = MoonName@50;

## Semicolon-separated list of weather-to-weather weights - if previous day was Rainy, next day should have weights:
# Setting type: String
# Default value: None@100; Rainy@60; Stormy@40; Flooded@30; Foggy@50; Eclipsed@20;
WeatherToWeather weights = None@100; Rainy@60; Stormy@40; Flooded@30; Foggy@50; Eclipsed@20;

[Vanilla Weather: Stormy]

## The default weight of this weather
# Setting type: Int32
# Default value: 100
# Acceptable value range: From 0 to 10000
Default weight = 100

## Multiplier for the amount of scrap spawned
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 100
Scrap amount multiplier = 1

## Multiplier for the value of scrap spawned
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 100
Scrap value multiplier = 1

## Whether to make the filter a whitelist (false is blacklist, true is whitelist)
# Setting type: Boolean
# Default value: false
Filtering option = false

## Semicolon-separated list of level names to filter (use `Filtering Option` config to select filter type)
# Setting type: String
# Default value: Company;
Level filter = Company;

## Semicolon-separated list of level weights
# Setting type: String
# Default value: MoonName@50;
Level weights = MoonName@50;

## Semicolon-separated list of weather-to-weather weights - if previous day was Stormy, next day should have weights:
# Setting type: String
# Default value: None@160; Rainy@110; Stormy@10; Flooded@120; Foggy@20; Eclipsed@80;
WeatherToWeather weights = None@160; Rainy@110; Stormy@10; Flooded@120; Foggy@20; Eclipsed@80;

