## Settings file was created by plugin WeatherRegistry v0.8.8
## Plugin GUID: mrov.WeatherRegistry

[|General]

## Semicolon-separated list of asset bundle names that shouldn't be loaded.
# Setting type: String
# Default value: 
Bundle Blacklist = 

## Enable colored weathers on map screen
# Setting type: Boolean
# Default value: true
Colored Weathers = true

## Display planet videos on map screen
# Setting type: Boolean
# Default value: true
Planet Videos = true

## Show weather multipliers on map screen
# Setting type: Boolean
# Default value: false
Show Weather Multipliers = false

## Display 'WEATHER: CLEAR' on map screen when weather is clear
# Setting type: Boolean
# Default value: true
Show Clear Weather = true

## Use Registry's scrap multipliers. Disable if you prefer to use other mod's multiplier settings.
# Setting type: Boolean
# Default value: true
Scrap multipliers = true

[|Logging]

## Select which logs to show.
# Setting type: LoggingType
# Default value: Basic
# Acceptable values: Basic, Debug, Developer
Display Log Levels = Basic

[|Patches]

## Allows you to disable FacilityMeltdown patch (for when the mod is not working correctly)
# Setting type: Boolean
# Default value: true
Enable Facility Meltdown Compatibility Patch = true

[|WeatherSelection]

## Select the algorithm to use during weather selection.
# Setting type: WeatherAlgorithm
# Default value: Registry
# Acceptable values: Registry, Vanilla, Hybrid
Weather Selection Algorithm = Registry

## If enabled, the first day will always have clear weather, on all planets, regardless of the selected algorithm.
# Setting type: Boolean
# Default value: false
First Day Clear Weather = false

[Modded Weather: BloodMoon]

Default weight = 10

Scrap amount multiplier = 1

Scrap value multiplier = 1.2

Filtering option = false

Level filter = Company;Cosmocos

Level weights = MoonName@50

WeatherToWeather weights = WeatherName@50

[Modded Weather: Blue]

Default weight = 0

Scrap amount multiplier = 1.2

Scrap value multiplier = 1

Filtering option = true

Level filter = Experimentation;Assurance;Vow;Offense;March;Rend;Dine;Titan;Embrion;Artifice

Level weights = Experimentation@50;Assurance@50;Vow@50;Offense@50;March@50;Rend@50;Dine@50;Titan@50;Embrion@50;Artifice@50

WeatherToWeather weights = 

[Modded Weather: Earthquakes]

Default weight = 50

Scrap amount multiplier = 1.1

Scrap value multiplier = 1

Filtering option = false

Level filter = Company;Galetry;Calist;Berunah

Level weights = MoonName@50

WeatherToWeather weights = WeatherName@50

[Modded Weather: EvilBlue]

Default weight = 0

Scrap amount multiplier = 1

Scrap value multiplier = 1.4

Filtering option = false

Level filter = Company

Level weights = 

WeatherToWeather weights = 

[Modded Weather: Forsaken]

Default weight = 30

Scrap amount multiplier = 1.2

Scrap value multiplier = 1.2

Filtering option = false

Level filter = Company;Galetry;Berunah;Calist;Repress;Cosmocos

Level weights = MoonName@20

WeatherToWeather weights = WeatherName@20

[Modded Weather: Hallowed]

Default weight = 10

Scrap amount multiplier = 1

Scrap value multiplier = 1

Filtering option = false

Level filter = Company;Galetry;Calist;Berunah;Asteroid-13;Thalasso;Roart;Repress;Cosmocos

Level weights = MoonName@8

WeatherToWeather weights = WeatherName@8

[Modded Weather: Hurricane]

Default weight = 50

Scrap amount multiplier = 1

Scrap value multiplier = 1

Filtering option = false

Level filter = Company;Galetry;Calist;Berunah;Asteroid-13,Roart;Repress;Cosmocos

Level weights = WeatherName@20

WeatherToWeather weights = WeatherName@20

[Modded Weather: MajoraMoon]

Default weight = 10

Scrap amount multiplier = 1.7

Scrap value multiplier = 1

Filtering option = false

Level filter = Company;Cosmocos;Black Mesa

Level weights = MoonName@50

WeatherToWeather weights = WeatherName@50

[Modded Weather: MeteorShower]

Default weight = 10

Scrap amount multiplier = 1.2

Scrap value multiplier = 0.9

Filtering option = false

Level filter = galetry;gordion;oxyde

Level weights = MoonName@50;

WeatherToWeather weights = WeatherName@50;

[Modded Weather: Tornado]

Default weight = 10

Scrap amount multiplier = 1.2

Scrap value multiplier = 0.85

Filtering option = false

Level filter = galetry;gordion;oxyde

Level weights = MoonName@50;

WeatherToWeather weights = WeatherName@50;

[Vanilla Weather: DustClouds]

Default weight = 0

Scrap amount multiplier = 1

Scrap value multiplier = 1

Filtering option = false

Level filter = Company;

Level weights = MoonName@50;

WeatherToWeather weights = WeatherName@50

[Vanilla Weather: Eclipsed]

Default weight = 50

Scrap amount multiplier = 1

Scrap value multiplier = 1

Filtering option = false

Level filter = Company;

Level weights = MoonName@50;

WeatherToWeather weights = None@300; Rainy@40; Stormy@16; Flooded@20; Foggy@60; Eclipsed@10;

[Vanilla Weather: Flooded]

Default weight = 100

Scrap amount multiplier = 1

Scrap value multiplier = 1

Filtering option = false

Level filter = Company;

Level weights = MoonName@50;

WeatherToWeather weights = None@160; Rainy@60; Stormy@50; Flooded@10; Foggy@60; Eclipsed@40;

[Vanilla Weather: Foggy]

Default weight = 100

Scrap amount multiplier = 1

Scrap value multiplier = 1

Filtering option = false

Level filter = Company;

Level weights = MoonName@50;

WeatherToWeather weights = None@200; Rainy@60; Stormy@50; Flooded@10; Foggy@30; Eclipsed@20;

[Vanilla Weather: None]

Default weight = 100

Scrap amount multiplier = 1

Scrap value multiplier = 1

Filtering option = false

Level filter = Company;

Level weights = MoonName@50;

WeatherToWeather weights = None@160; Rainy@100; Stormy@70; Flooded@20; Foggy@40; Eclipsed@10;

[Vanilla Weather: Rainy]

Default weight = 100

Scrap amount multiplier = 1

Scrap value multiplier = 1

Filtering option = false

Level filter = Company;

Level weights = MoonName@50;

WeatherToWeather weights = None@100; Rainy@60; Stormy@40; Flooded@30; Foggy@50; Eclipsed@20;

[Vanilla Weather: Stormy]

Default weight = 100

Scrap amount multiplier = 1

Scrap value multiplier = 1

Filtering option = false

Level filter = Company;

Level weights = MoonName@50;

WeatherToWeather weights = None@160; Rainy@110; Stormy@10; Flooded@120; Foggy@20; Eclipsed@80;

