## Settings file was created by plugin NoCompanyPenalties v0.0.4
## Plugin GUID: NoCompanyPenalties

[Company Moons]

## Should penalties be applied on Gordion?
# Setting type: Boolean
# Default value: false
Gordion = false

## Should penalties be applied on Galetry?
# Setting type: Boolean
# Default value: false
Galetry = false

## Should penalties be applied on End?
# Setting type: Boolean
# Default value: false
End = false

