## Settings file was created by plugin FairerFireExits v2.0.2
## Plugin GUID: OreoM.FairerFireExits

[General]

## Apply Fairer Fire Exits patch to this interior
# Setting type: Boolean
# Default value: true
AquaticDungeon = true

## Apply Fairer Fire Exits patch to this interior
# Setting type: Boolean
# Default value: true
Carnival = true

## Apply Fairer Fire Exits patch to this interior
# Setting type: Boolean
# Default value: true
DeepSewers = true

## Apply Fairer Fire Exits patch to this interior
# Setting type: Boolean
# Default value: true
ExpandedFacility = true

## Apply Fairer Fire Exits patch to this interior
# Setting type: Boolean
# Default value: true
FracturedComplex = true

## Apply Fairer Fire Exits patch to this interior
# Setting type: Boolean
# Default value: true
GrandArmoryFlowBackup = true

## Apply Fairer Fire Exits patch to this interior
# Setting type: Boolean
# Default value: true
Greenhouse = true

## Apply Fairer Fire Exits patch to this interior
# Setting type: Boolean
# Default value: true
Lab = true

## Apply Fairer Fire Exits patch to this interior
# Setting type: Boolean
# Default value: true
Level3ButCoolFlowRenewed = true

## Apply Fairer Fire Exits patch to this interior
# Setting type: Boolean
# Default value: true
MuseumInterior = true

## Apply Fairer Fire Exits patch to this interior
# Setting type: Boolean
# Default value: true
RubberRooms = true

## Apply Fairer Fire Exits patch to this interior
# Setting type: Boolean
# Default value: true
SpookyManor = true

## Apply Fairer Fire Exits patch to this interior
# Setting type: Boolean
# Default value: true
Toystore = true

