## Settings file was created by plugin KenjiLib v0.7.1
## Plugin GUID: rectorado.KenjiLib

[Logging]

## Select maximum log severity to output (ImportantOnly, User, Debug, Kenji).
# Setting type: LogSeverity
# Default value: User
# Acceptable values: ImportantOnly, User, Debug, Kenji
Logging Output = User

