## Settings file was created by plugin UniversalRadar v1.2.4
## Plugin GUID: ScienceBird.UniversalRadar

[!Config Management]

## This check box acts like a button which will only activate once then go back to being unchecked: after starting a game, all unused config data will be cleared. This means config entries associated with moons that are no longer installed or entries for modes which are no longer active for a given moon (e.g. if you switch a moon's mode from Manual to Automatic, the manual options will still be leftover in the file).
# Setting type: Boolean
# Default value: false
Clear Orphaned Entries On Next Join = false

## Used for internal config tracking, please ignore.
# Setting type: String
# Default value: -1.-1.-1
Config Version = 1.2.4

[!General]

## When a moon has non-mesh terrain, it will be converted in order to generate the contour map. This will mean a long initial load on maps with non-mesh terrain (this includes most of Wesley's moons), but after the first time, it will store the generated mesh for the rest of the session. If this ends up taking way too long or even causing timeouts/crashes, you can disable it here (though any moons with non-mesh terrain will no longer have contour maps).
# Setting type: Boolean
# Default value: true
Convert Terrains To Mesh = true

## Overrides all individual configs and will never attempt to create radar images for non-terrain objects.
# Setting type: Boolean
# Default value: false
Master Disable Radar Objects = false

## How big objects need to be to render as an object on the radar screen (if that config is enabled on the moon). Make this bigger to display less small objects.
# Setting type: Single
# Default value: 90
# Acceptable value range: From 50 to 1000
Radar Object Display Threshold = 90

## Increasing this means more objects/scenery above and below a player will be picked up on the radar screen (set this to 0 for vanilla clipping distance).
# Setting type: Single
# Default value: 0
# Acceptable value range: From 0 to 150
Increased Radar Vertical Render Distance = 0

## Generates a special mesh for water objects on vanilla and modded moons.
# Setting type: Boolean
# Default value: true
Show Water On Radar = true

## Includes meshes on the foliage layer when generating radar objects.
# Setting type: Boolean
# Default value: false
Show Foliage Radar Objects = false

[Automatic Settings]

## Spacing between lines in automatically generated contour maps.
# Setting type: Single
# Default value: 2.5
# Acceptable value range: From 0.5 to 6
Line Spacing = 2.5

## Thickness of lines in automatically generated contour maps.
# Setting type: Single
# Default value: 6
# Acceptable value range: From 0.5 to 10
Line Thickness = 6

## Maximum opacity of the shading on automatically generated contour maps (how light the tallest parts of the contour map will be).
# Setting type: Single
# Default value: 0.9
# Acceptable value range: From 0.1 to 1
Maximum Opacity = 0.9

## Logs all contour map values (notably the minimum and maximum height) upon generating on a moon. Use this if you want to know the normally calculated values before manually customizing them yourself (or for other debugging purposes).
# Setting type: Boolean
# Default value: false
Log Automatic Values = false

[Interior Radar Fallback]

## If an interior is detected to lack radar sprites, the old pre-v70 radar will be used when a player is inside that interior.
# Setting type: Boolean
# Default value: true
Automatic Fallback To Old Radar = true

## Prior to v70, only objects on the Room (and MapRadar) layers would appear on the radar. Enabling this allows objects on the Default layer (objects not assigned to any layer) to appear as well.
# Setting type: Boolean
# Default value: false
Include Default Layer = false

[Moon Overrides - Vanilla]

41 Experimentation = Auto

41 Experimentation - Show Radar Objects = false

41 Experimentation - More Translucent Radar Objects = false

41 Experimentation - Opacity Multiplier = 2

41 Experimentation - Broader Height Range = false

220 Assurance = Auto

220 Assurance - Show Radar Objects = false

220 Assurance - More Translucent Radar Objects = false

220 Assurance - Opacity Multiplier = 2

220 Assurance - Broader Height Range = false

56 Vow = Manual

56 Vow - Show Radar Objects = false

56 Vow - More Translucent Radar Objects = false

56 Vow - Opacity Multiplier = 2

56 Vow - Line Spacing = 2.5

56 Vow - Line Thickness = 6

56 Vow - Shading Minimum = -20

56 Vow - Shading Maximum = 20

56 Vow - Maximum Opacity = 0.9

61 March = Auto

61 March - Show Radar Objects = false

61 March - More Translucent Radar Objects = false

61 March - Opacity Multiplier = 2

61 March - Broader Height Range = false

85 Rend = Auto

85 Rend - Show Radar Objects = false

85 Rend - More Translucent Radar Objects = false

85 Rend - Opacity Multiplier = 2

85 Rend - Broader Height Range = false

7 Dine = Manual

7 Dine - Show Radar Objects = false

7 Dine - More Translucent Radar Objects = false

7 Dine - Opacity Multiplier = 2

7 Dine - Line Spacing = 2.5

7 Dine - Line Thickness = 6

7 Dine - Shading Minimum = -27

7 Dine - Shading Maximum = 17

7 Dine - Maximum Opacity = 0.9

21 Offense = Auto

21 Offense - Show Radar Objects = false

21 Offense - More Translucent Radar Objects = false

21 Offense - Opacity Multiplier = 2

21 Offense - Broader Height Range = false

8 Titan = Auto

8 Titan - Show Radar Objects = false

8 Titan - More Translucent Radar Objects = false

8 Titan - Opacity Multiplier = 0.75

8 Titan - Broader Height Range = true

68 Artifice = Auto

68 Artifice - Show Radar Objects = false

68 Artifice - More Translucent Radar Objects = false

68 Artifice - Opacity Multiplier = 2

68 Artifice - Broader Height Range = false

20 Adamance = Manual

20 Adamance - Show Radar Objects = false

20 Adamance - More Translucent Radar Objects = false

20 Adamance - Opacity Multiplier = 2

20 Adamance - Line Spacing = 2.5

20 Adamance - Line Thickness = 6

20 Adamance - Shading Minimum = -30

20 Adamance - Shading Maximum = 23

20 Adamance - Maximum Opacity = 0.9

5 Embrion = Auto

5 Embrion - Show Radar Objects = false

5 Embrion - More Translucent Radar Objects = false

5 Embrion - Opacity Multiplier = 2

5 Embrion - Broader Height Range = false

71 Gordion = Ignore

71 Gordion - Show Radar Objects = false

71 Gordion - More Translucent Radar Objects = false

[Moon Overrides (Colour) - Vanilla]

41 Experimentation - Sprite Colour Hex Code = 63FF5A

41 Experimentation - Shading Colour Hex Code = 4D6A46

41 Experimentation - Line Colour Hex Code = 4D6A46

41 Experimentation - Object Colour Hex Code = 63FF5A

41 Experimentation - Background Colour Hex Code = 000701

220 Assurance - Sprite Colour Hex Code = 63FF5A

220 Assurance - Shading Colour Hex Code = 4D6A46

220 Assurance - Line Colour Hex Code = 4D6A46

220 Assurance - Object Colour Hex Code = 63FF5A

220 Assurance - Background Colour Hex Code = 000701

56 Vow - Sprite Colour Hex Code = 63FF5A

56 Vow - Shading Colour Hex Code = 4D6A46

56 Vow - Line Colour Hex Code = 4D6A46

56 Vow - Object Colour Hex Code = 63FF5A

56 Vow - Background Colour Hex Code = 000701

61 March - Sprite Colour Hex Code = 63FF5A

61 March - Shading Colour Hex Code = 4D6A46

61 March - Line Colour Hex Code = 4D6A46

61 March - Object Colour Hex Code = 63FF5A

61 March - Background Colour Hex Code = 000701

85 Rend - Sprite Colour Hex Code = 63FF5A

85 Rend - Shading Colour Hex Code = 4D6A46

85 Rend - Line Colour Hex Code = 4D6A46

85 Rend - Object Colour Hex Code = 63FF5A

85 Rend - Background Colour Hex Code = 000701

7 Dine - Sprite Colour Hex Code = 63FF5A

7 Dine - Shading Colour Hex Code = 4D6A46

7 Dine - Line Colour Hex Code = 4D6A46

7 Dine - Object Colour Hex Code = 63FF5A

7 Dine - Background Colour Hex Code = 000701

21 Offense - Sprite Colour Hex Code = 63FF5A

21 Offense - Shading Colour Hex Code = 4D6A46

21 Offense - Line Colour Hex Code = 4D6A46

21 Offense - Object Colour Hex Code = 63FF5A

21 Offense - Background Colour Hex Code = 000701

8 Titan - Sprite Colour Hex Code = 63FF5A

8 Titan - Shading Colour Hex Code = 4D6A46

8 Titan - Line Colour Hex Code = 4D6A46

8 Titan - Object Colour Hex Code = 63FF5A

8 Titan - Background Colour Hex Code = 000701

68 Artifice - Sprite Colour Hex Code = 63FF5A

68 Artifice - Shading Colour Hex Code = 4D6A46

68 Artifice - Line Colour Hex Code = 4D6A46

68 Artifice - Object Colour Hex Code = 63FF5A

68 Artifice - Background Colour Hex Code = 000701

20 Adamance - Sprite Colour Hex Code = 63FF5A

20 Adamance - Shading Colour Hex Code = 4D6A46

20 Adamance - Line Colour Hex Code = 4D6A46

20 Adamance - Object Colour Hex Code = 63FF5A

20 Adamance - Background Colour Hex Code = 000701

5 Embrion - Sprite Colour Hex Code = 63FF5A

5 Embrion - Shading Colour Hex Code = 4D6A46

5 Embrion - Line Colour Hex Code = 4D6A46

5 Embrion - Object Colour Hex Code = 63FF5A

5 Embrion - Background Colour Hex Code = 000701

71 Gordion - Sprite Colour Hex Code = 63FF5A

71 Gordion - Shading Colour Hex Code = 4D6A46

71 Gordion - Line Colour Hex Code = 4D6A46

71 Gordion - Object Colour Hex Code = 63FF5A

71 Gordion - Background Colour Hex Code = 000701

[Vanilla Radar Sprites]

## Change the colour of the ship's sprite to match the radar object/sprite colour of whatever moon it's landed on.
# Setting type: Boolean
# Default value: true
Match Ship Sprite Colour To Radar = true

## The colour of the ship sprite at all times (will not work if the above option is enabled).
# Setting type: String
# Default value: 63FF5A
Ship Sprite Colour = 63FF5A

## Adds new radar sprites for Experimentation, showing buildings, obstacles, catwalks, and more (will replace any vanilla radar objects).
# Setting type: Boolean
# Default value: true
Experimentation = true

## Adds new radar sprites for Assurance, showing buildings, obstacles, catwalks, and more (will replace any vanilla radar objects).
# Setting type: Boolean
# Default value: true
Assurance = true

## Adds new radar sprites for Vow, showing buildings, obstacles, catwalks, and more (will replace any vanilla radar objects).
# Setting type: Boolean
# Default value: true
Vow = true

## Adds new radar sprites for March, showing buildings, obstacles, catwalks, and more (will replace any vanilla radar objects).
# Setting type: Boolean
# Default value: true
March = true

## Adds new radar sprites for Rend, showing buildings, obstacles, catwalks, and more (will replace any vanilla radar objects).
# Setting type: Boolean
# Default value: true
Rend = true

## Adds new radar sprites for Dine, showing buildings, obstacles, catwalks, and more (will replace any vanilla radar objects).
# Setting type: Boolean
# Default value: true
Dine = true

## Adds new radar sprites for Offense, showing buildings, obstacles, catwalks, and more (will replace any vanilla radar objects).
# Setting type: Boolean
# Default value: true
Offense = true

## Adds new radar sprites for Titan, showing buildings, obstacles, catwalks, and more (will replace any vanilla radar objects).
# Setting type: Boolean
# Default value: true
Titan = true

## Adds new radar sprites for Artifice, showing buildings, obstacles, catwalks, and more (will replace any vanilla radar objects).
# Setting type: Boolean
# Default value: true
Artifice = true

## Adds new radar sprites for Adamance, showing buildings, obstacles, catwalks, and more (will replace any vanilla radar objects).
# Setting type: Boolean
# Default value: true
Adamance = true

## Adds new radar sprites for Embrion, showing buildings, obstacles, catwalks, and more (will replace any vanilla radar objects).
# Setting type: Boolean
# Default value: true
Embrion = true

## Adds new radar sprites for Gordion, showing buildings, obstacles, catwalks, and more (will replace any vanilla radar objects).
# Setting type: Boolean
# Default value: true
Gordion = true

