## Settings file was created by plugin UniqueItemSounds v0.2.3
## Plugin GUID: soundpack.UniqueItemSounds

[Decor]

## Enables placement & toggling sounds for Light Switch.
# Setting type: Boolean
# Default value: true
LightSwitch = true

## Enables placement sounds for File Cabinet.
# Setting type: Boolean
# Default value: true
FileCabinet = true

## Enables placement sounds for Signal Translator.
# Setting type: Boolean
# Default value: true
SignalTranslator = true

## Enables placement sounds for Table.
# Setting type: Boolean
# Default value: true
Table = true

[Equipment]

## Enables grab sounds for Sticky Note.
# Setting type: Boolean
# Default value: true
StickyNote = true

## Enables grab, drop, and pocket sounds for Weed Killer.
# Setting type: Boolean
# Default value: true
WeedKiller = true

[Items]

## Enables grab & drop sounds for Candy.
# Setting type: Boolean
# Default value: true
Candy = true

## Enables grab & drop sounds for Clown Horn.
# Setting type: Boolean
# Default value: true
ClownHorn = true

## Enables grab, drop, and rustling sounds for Cookie Pan.
# Setting type: Boolean
# Default value: true
CookiePan = true

## Enables grab, drop, and rustling sounds for Egg Beater.
# Setting type: Boolean
# Default value: true
EggBeater = true

## Enables drop sounds for the sapsucker Egg.
# Setting type: Boolean
# Default value: true
Egg = true

## Enables drop sounds for Fancy Lamp (as well as for toggling the light via GeneralImprovements).
# Setting type: Boolean
# Default value: true
FancyLamp = true

## Enables drop sounds for Garbage Lid.
# Setting type: Boolean
# Default value: true
GarbageLid = true

## Enables drop sounds for Golden Cup.
# Setting type: Boolean
# Default value: true
GoldenCup = true

## Enables grab & drop sounds for Mug.
# Setting type: Boolean
# Default value: true
Mug = true

## Enables grab & drop sounds for Perfume Bottle.
# Setting type: Boolean
# Default value: true
PerfumeBottle = true

## Enables grab & drop sounds for Pill Bottle.
# Setting type: Boolean
# Default value: true
PillBottle = true

## Enables grab & drop sounds for Red Soda.
# Setting type: Boolean
# Default value: true
RedSoda = true

## Enables grab & drop sounds for Rubber Ducky.
# Setting type: Boolean
# Default value: true
RubberDucky = true

## Enables grab & drop sounds for Tea Kettle.
# Setting type: Boolean
# Default value: true
TeaKettle = true

## Enables grab & drop sounds for Toothpaste.
# Setting type: Boolean
# Default value: true
Toothpaste = true

## Enables grab & drop sounds for Toy Cube.
# Setting type: Boolean
# Default value: true
ToyCube = true

## Enables grab & drop sounds for Zed Dog.
# Setting type: Boolean
# Default value: true
ZedDog = true

[LategameUpgrades]

## Enables grab, drop, & pocket sounds for each type of Sample provided by killing enemies.
# Setting type: Boolean
# Default value: true
EnemySamples = true

[ReusedSounds]

## Applies Fancy Lamp audio to the Tall Lamp from Trite by Wesley.
# Setting type: Boolean
# Default value: true
Wesley = true

## Applies Red Soda audio to the alternate soda cans from LC_Office.
# Setting type: Boolean
# Default value: true
LC_Office = true

## Applies Cookie Pan & Egg Beater audio to the similar items from MetalItemVariants.
# Setting type: Boolean
# Default value: true
MetalItemVariants = true

## Applies Egg Beater, Cookie Pan, and Tea Kettle audio to the similar items from LCGoldScrapMod.
# Setting type: Boolean
# Default value: true
LCGoldScrapMod = true

[SigurdsScrap]

## Enables grab & drop sounds for Bundle Of Cords.
# Setting type: Boolean
# Default value: true
BundleOfCords = true

[TerrasScrap]

## Enables grab & drop sounds for Baseball Glove.
# Setting type: Boolean
# Default value: true
BaseballGlove = true

## Enables grab & drop sounds for Bucket.
# Setting type: Boolean
# Default value: true
Bucket = true

## Enables drop sounds for Light Bulb.
# Setting type: Boolean
# Default value: true
LightBulb = true

## Enables drop sounds for Pizza Box.
# Setting type: Boolean
# Default value: true
PizzaBox = true

## Enables grab & drop sounds for Spatula.
# Setting type: Boolean
# Default value: true
Spatula = true

## Enables grab & drop sounds for Stapler.
# Setting type: Boolean
# Default value: true
Stapler = true

## Enables grab & drop sounds for Wallet.
# Setting type: Boolean
# Default value: true
Wallet = true

