## Settings file was created by plugin TerminalFormatter v0.3.7
## Plugin GUID: TerminalFormatter

[Debug]

## Set the logging level for the mod
# Setting type: LoggingType
# Default value: Basic
# Acceptable values: Basic, Debug, Developer
Logging Levels = Basic

[General]

## Enable detailed scan page
# Setting type: Boolean
# Default value: true
Detailed Scan Page = false

## Show decorations in terminal
# Setting type: Boolean
# Default value: false
Show Decorations = false

## Show group divider lines in terminal
# Setting type: Boolean
# Default value: false
Show Group Divider Lines = false

## Show help text in terminal
# Setting type: Boolean
# Default value: false
Show Help Text = false

Show Difficulty in All = false

Show Numbered Planet Names = false

Lines to Scroll = 15

[Last Used LLL Option]

Last Used Preview = All

Last Used Filter = None

Last Used Sort = Price

[Moons]

## Use shortened weathers in moons catalogue
# Setting type: Boolean
# Default value: false
Use Shortened Weathers = false

## Show numbered planet names in terminal
# Setting type: Boolean
# Default value: false
Show Numbered Planet Names = false

## Always display hidden moons in moons catalogue
# Setting type: Boolean
# Default value: false
Always Display Hidden Moons = false

Difficulty String Length = 4

[Nodes]

Moons = true

Route = true

RouteAfter = true

RouteLocked = true

Scan = true

Store = true

Buy = true

BuyAfter = true

CannotAfford = true

Bestiary = true

Storage = true

[Store]

## Number of items per shop section (set to 0 to disable)
# Setting type: Int32
# Default value: 5
Divide shop page into groups = 5

