## Settings file was created by plugin TerminalFormatter v0.3.7
## Plugin GUID: TerminalFormatter

[Debug]

## Set the logging level for the mod
# Setting type: LoggingType
# Default value: Basic
# Acceptable values: Basic, Debug, Developer
Logging Levels = Basic

[General]

## Enable detailed scan page
# Setting type: Boolean
# Default value: true
Detailed Scan Page = false

## Show decorations in terminal
# Setting type: Boolean
# Default value: false
Show Decorations = false

## Show group divider lines in terminal
# Setting type: Boolean
# Default value: false
Show Group Divider Lines = false

## Show help text in terminal
# Setting type: Boolean
# Default value: false
Show Help Text = false

Show Difficulty in All = false

Show Numbered Planet Names = false

Lines to Scroll = 15

[Last Used LLL Option]

Last Used Preview = All

Last Used Filter = None

Last Used Sort = Price

[Moons]

## Use shortened weathers in moons catalogue
# Setting type: Boolean
# Default value: false
Use Shortened Weathers = false

## Show numbered planet names in terminal
# Setting type: Boolean
# Default value: false
Show Numbered Planet Names = false

## Always display hidden moons in moons catalogue
# Setting type: Boolean
# Default value: false
Always Display Hidden Moons = false

Difficulty String Length = 4

[Nodes]

## Enable node Moons
# Setting type: Boolean
# Default value: true
Moons = true

## Enable node Route
# Setting type: Boolean
# Default value: true
Route = true

## Enable node RouteAfter
# Setting type: Boolean
# Default value: true
RouteAfter = true

## Enable node RouteLocked
# Setting type: Boolean
# Default value: true
RouteLocked = true

## Enable node Scan
# Setting type: Boolean
# Default value: true
Scan = true

## Enable node Store
# Setting type: Boolean
# Default value: true
Store = true

## Enable node Buy
# Setting type: Boolean
# Default value: true
Buy = true

## Enable node BuyAfter
# Setting type: Boolean
# Default value: true
BuyAfter = true

## Enable node CannotAfford
# Setting type: Boolean
# Default value: true
CannotAfford = true

## Enable node Bestiary
# Setting type: Boolean
# Default value: true
Bestiary = true

## Enable node Storage
# Setting type: Boolean
# Default value: true
Storage = true

[Store]

## Number of items per shop section (set to 0 to disable)
# Setting type: Int32
# Default value: 5
Divide shop page into groups = 5

