## Settings file was created by plugin LegendWeathers v2.2.1
## Plugin GUID: zigzag.legendweathers

[_General]

## By default, weather alerts are shown once then saved so you'll never get them again just like the vanilla system.
## Disable this config if you prefer to see them during every ship landing.
# Setting type: Boolean
# Default value: true
Weather alerts saved = true

[Blood Moon]

## Enable the Blood Moon weather.
# Setting type: Boolean
# Default value: true
Enabled = true

## Choose the texture used for the Blood Moon material.
# Setting type: String
# Default value: Classic
# Acceptable values: Classic, Bright
Moon texture = Classic

## The size factor of the Blood Moon material compared to the size of the vanilla sun.
# Setting type: Single
# Default value: 5.5
# Acceptable value range: From 1 to 10
Moon size factor = 5.5

## The abundance of terrain effects during the Blood Moon weather.
## Higher values will spawn more effects but may impact performance.
# Setting type: Int32
# Default value: 30
# Acceptable value range: From 0 to 100
Terrain effects abundance = 30

## The Blood Moon's terrain effects all have small sfx coming from them. Those sfx volumes are not very high but if you really want to reduce it then this config is for you.
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 1
Terrain effects volume = 1

## An introduction music is played when the Blood Moon is spawned on the planet, this will last 30s.
## You can customize the music volume here.
# Setting type: Single
# Default value: 0.8
# Acceptable value range: From 0 to 1
Intro music volume = 0.8

## The volume for the Blood Moon ambient music when you are outside (similar to the vanilla Eclipsed ambient music).
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 1
Ambient music volume = 1

## If you prefer to have the vanilla ambient Eclipsed music instead of the Blood Moon ambient custom music, then you can change it here.
## Please note that the 'Ambient music volume' config will not apply if you select the Eclipsed music.
# Setting type: String
# Default value: Blood Moon
# Acceptable values: Blood Moon, Eclipsed
Ambient music type = Blood Moon

## When an enemy is resurrected by the Blood Moon effect, this is the time in seconds it will take before it actually respawns.
## The default time value is 10s because it's the expected base difficulty value for the weather.
# Setting type: Single
# Default value: 10
# Acceptable value range: From 0 to 90
Enemy resurrection wait time = 10

## Comma separated list of enemy names that will never be resurrected by the Blood Moon when they are killed.
## This MouthDog,Crawler,Flowerman is a valid example, so make sure to only use internal enemies names here.
# Setting type: String
# Default value: 
Enemy resurrection blacklist = 

## Allow the spawning of the Blood Stone item during specific conditions.
# Setting type: Boolean
# Default value: true
Blood Stone spawning = true

## Comma separated list of enemy names that will never spawn Blood Stones when they are killed.
## This MouthDog,Crawler,Flowerman is a valid example, so make sure to only use internal enemies names here.
# Setting type: String
# Default value: 
Blood Stone spawning blacklist = 

## Choose how enemies that spawn natural items after their death are managed by the weather.
## This config takes effect on shotguns that are spawned by Nutcrackers and instruments that are spawned by Ghost enemies [from the Haunted_Harpist mod].
## 'Limit' will only spawn 1 of these items globally for each apparition of the weather and 'Chance' will get these items a configurable chance value of spawning.
# Setting type: String
# Default value: Limited
# Acceptable values: Limited, Chance
Specific enemies item spawning Mode = Limited

## If the 'Specific enemies item spawning Mode' config is set to 'Chance', this config will define the percentage chance of spawning the specified items when the enemy dies.
## A value of 50 means there is a 50% chance of spawning the item.
# Setting type: Int32
# Default value: 100
# Acceptable value range: From 0 to 100
Specific enemies item spawning Chance = 100

## The difficulty factor of the Blood Moon effect, this will impact the number of spawned enemies during the weather.
# Setting type: String
# Default value: Normal
# Acceptable values: Easy, Normal, Hard, Extreme
Difficulty = Normal

[Majora Moon]

## Enable the Majora Moon weather.
# Setting type: Boolean
# Default value: true
Enabled = true

## Choose the model version of the moon, if you want a more retro look try the N64 version.
## Other models are also available for fun !
# Setting type: String
# Default value: 3DS
# Acceptable values: 3DS, N64, Faceless, Vanilla, Boomy, Owl, Abibabou, Joy, Dice, Baldy
Model version = 3DS

## Allows the model to be automatically adjusted on moons based on certain conditions, this will vary depending on your installed mods.
## If the 'Vanilla' model is selected however, this will allow this config to randomize the texture from one of your installed moons (only if an external mod like Chameleon is installed).
# Setting type: Boolean
# Default value: false
Automatic model selection = false

## When the moon is about to crash, the Final Hours music starts to play.
## You can customize the music volume here.
# Setting type: Single
# Default value: 0.9
# Acceptable value range: From 0 to 1
Music volume = 0.9

## If enabled, the timer UI during the Majora Moon crash sequence will not be displayed.
## This is here for those who wants to have the sequence more immersive, but watch out since you will have no indication on the time you have left.
# Setting type: Boolean
# Default value: false
Remove Timer UI = false

## If you have the Ocarina item, playing Oath to Order while in altitude when the moon is about to crash will start a special animation.
## Will not work if ChillaxScraps is not installed.
# Setting type: Boolean
# Default value: true
Ocarina compatibility = true

## By default, the Majora Moon can't spawn on Company Moons but activating this config will make this a reality.
## You may also need to remove the company moons in the MajoraMoon blacklist section in the WeatherRegistery config file.
# Setting type: Boolean
# Default value: false
Company Moon compatibility = false

## The min,max scrap value of the Majora's Mask item, supposed to be very high.
## The final value will be randomized between these 2 numbers, but not divided by any external factors.
# Setting type: String
# Default value: 200,400
Majora Mask Item value = 200,400

