## Settings file was created by plugin SelfSortingStorage v1.5.2
## Plugin GUID: zigzag.SelfSortingStorage

[General]

## Allows stored items to be saved in the host player's current save file.
# Setting type: Boolean
# Default value: true
Save items = true

## Allows scrap items to be stored in the Smart Cupboard.
# Setting type: Boolean
# Default value: true
Allow Scrap items = false

## Adds a scan node on the storage box.
# Setting type: Boolean
# Default value: true
Scan Node = true

## Customize the color of the storage, default color is dark blue.
# Setting type: String
# Default value: #000E57
Cupboard Color = #000E57

[Logs]

## Enable more explicit logs in the console (for debug reasons).
# Setting type: Boolean
# Default value: false
Verbose logs = false

[Misc]

## Comma separated list of items that will be permanently stored in the SSS, you can optionally provide a quantity if wanted (if not it will default to 10000).
## The accepted format for an item is 'origin/name/quantity' where 'name' is the name of the item and 'origin' is the mod's name that contains this item (write 'LethalCompanyGame' for a vanilla item).
## This LethalCompanyGame/Walkie-talkie,premiumscraps/The talking orb,LethalCompanyGame/Pro-flashlight/10,code_rebirth/Wayfarer's Wallet/4 is a valid example.
## PLEASE NOTE that without DawnLib installed the mod will instead use LethalLib for the mod's names and that can result in different strings, for example 'comgithubbiodiversitylcbiodiversity' will become 'com.github.biodiversitylc.Biodiversity'.
# Setting type: String
# Default value: 
Permanent items = 

## When true, only the host player will be able to press the Reset Button (needs Reset Button upgrade config to be enabled).
# Setting type: Boolean
# Default value: false
Reset Button Host Only = false

## When true, will prevent the cupboard's memory to be deleted/reseted when all players died or when being fired.
## WATCH OUT: an additional mod is required to avoid items from DESPAWNING!! This config only prevent the memory to be deleted and not the items to be destroyed as it is a vanilla behavior, please search and install a mod that will prevent items from despawning before using this config.
# Setting type: Boolean
# Default value: false
Prevent memory reset on death = false

[Shop]

## The price of the Smart Cupboard in the store.
# Setting type: Int32
# Default value: 20
Price = 250

[Storage]

## Adjust the position of the storage box, this can be 'L' for left or 'R' for right.
# Setting type: String
# Default value: R
# Acceptable values: L, R
Box position = R

## Big items will be rescaled when stored in the Smart Cupboard (based on their collider volume).
# Setting type: Boolean
# Default value: true
Rescale big items = true

## Change the rescale algorithm to have items perfectly rescaled when stored (based on their collider max size).
# Setting type: Boolean
# Default value: true
Perfect rescale = true

## Specify the order of items placement in the storage. Each number represents a shelve of the storage from top to bottom and the first one to be filled will be the number '1'.
## Example: Having an order of '1,2,3,4' will fill items from top to bottom, and having '3,1,2,4' will fill the middle shelves first.
## DON'T CHANGE THIS CONFIG WHEN THE SSS IS ALREADY UNLOCKED, a fresh save is required to avoid bad things happening (or press the Reset Button).
# Setting type: String
# Default value: 1,2,3,4
Rows order = 1,2,3,4

## Comma separated list of items names that will be rejected from the storage.
# Setting type: String
# Default value: clipboard,Sticky note,Utility Belt
Items Blacklist = clipboard,Sticky note,Utility Belt

## Comma separated list of scrap items names that will be accepted by the storage when 'Allow Scrap items' is disabled.
## This can be used to force allow specific scraps in the storage while every other scraps are not accepeted when 'Allow Scrap items' is false.
# Setting type: String
# Default value: 
Scraps Whitelist = 

[Upgrades]

## Activate the S4 upgrade, turns the Smart Cupboard into a wider version.
## DON'T CHANGE THIS CONFIG WHEN THE SSS IS ALREADY UNLOCKED, a fresh save is required to avoid bad things happening (or press the Reset Button).
# Setting type: Boolean
# Default value: false
Wide Cupboard = false

## Activate the cozy lights upgrade, adds some lights on the shelves and a button to turn them on and off.
# Setting type: Boolean
# Default value: true
Cozy Lights = true

## Activate the soft reset upgrade, adds the 'button of death' on the side of the storage that you can press to clear every stored items in the SSS.
## Pressing this button will effectively destroy everything so you shouldn't have the need to activate this unless you really want a way to reset the storage without being fired.
# Setting type: Boolean
# Default value: false
Reset Button = false

## If GeneralImprovements is installed and this value is not 0, then this mod will display SSS items on the desired screen. In GI config you need to set 'UseBetterMonitors = true', then set to 'None' the screen that will display the SSS items, then provide the screen position here to make it work.
# Setting type: Int32
# Default value: 0
SSS Screen position = 0

## When true, shows the quantity of the item stack on the cursortip UI when hovering an item stored in the Smart Cupboard.
# Setting type: Boolean
# Default value: false
Quantity Cursortip = false

## When true, adds a small 'card' at the bottom of each item placement displaying the current item quantity.
# Setting type: Boolean
# Default value: false
Quantity Display = true

